<template>
  <div>
    <top-box></top-box>
    <collections-table></collections-table>
  </div>
</template>
<script>
  import TopBox from '../../components/collection/TopBox';
  import CollectionsTable from '../../components/collection/CollectionsTable';

  export default {
    components: { TopBox, CollectionsTable },
  };
</script>
