@import 'students';

.test {
  background: #f9f9f9;
}

.ex_card--login {
  background: lightblue url(../images/Cambridge_008.jpg) no-repeat center center;
  background-size: cover;
}

.v-btn {
  .v-btn__content::first-letter {
    text-transform: uppercase !important;
  }
}

.ex_layout--login {
  height: 100%;

  .ex_flex--login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

    .ex_form--form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .ex_form--login {
        height: 100%;
        display: flex;
        align-items: center;
        border: 1px solid #e3e3e3;
        border-radius: 8px !important;

        .icon--login {
          height: 48px;
          width: 15%;
          display: flex;
          justify-content: center;
          border-right: 1px solid #e3e3e3;
        }

        .input--login {
          width: 85%;

          .v-input__slot {
            box-shadow: none !important;
            border-radius: 8px;
          }
        }
      }

      .ex_form--btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          border-radius: 8px !important;
        }
      }
    }
  }

  .ex_flex--login-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ex_logo--content {
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.logo-drawer {
  a {
    padding: 0 !important;
  }
}

/* stylelint-disable no-descending-specificity */
.ex_search--dashboard {
  margin-top: 5px !important;

  .v-input__control {
    min-height: unset !important;
    height: 40px !important;

    .v-input__slot {
      border-radius: 50px !important;

      input {
        font-size: 13px !important;
      }
    }
  }
}

.active-drawer {
  background: rgba(0, 0, 0, 0.4);
  border-left: 3px solid #36bbf7;
}

.ex_tile-list {
  .v-list__tile {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 55px;
    }
  }
}

.ex_box--top {
  height: 80px;

  .ex_number--box {
    font-size: 23px;
  }

  .ex_subtitle--box {
    font-size: 12px;
  }

  .ex_middle-icon--box {
    font-size: 40px;
  }

  .ex_last-icon--box {
    font-size: 50px;
  }

  .ex_circle-percent--box {
    width: 50px;
    height: 50px;
    border: 2px solid #90caf9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-weight: bold;
      color: #90caf9;
    }
  }
}

.ex_form-input {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 500;
  }

  .v-input {
    margin-top: 10px;
    margin-bottom: 8px;

    .v-input__control {
      .v-input__slot {
        border: 2px solid #e2ecec;
        border-radius: 8px !important;
        min-height: unset !important;
        height: 45px;

        &:hover {
          border: 2px solid #e2ecec;
        }

        .v-text-field__slot {
          input {
            margin-top: 5px;
            font-size: 14px;
            line-height: 14px;
          }
        }
      }

      .v-text-field__details {
        display: none !important;
      }
    }
  }

  .v-textarea {
    .v-input__control {
      .v-input__slot {
        height: auto;

        .v-text-field__slot {
          textarea {
            margin-top: 5px !important;
            font-size: 14px !important;
            line-height: 14px !important;
          }
        }
      }
    }
  }

  .v-btn-toggle {
    margin-top: 10px;
    margin-bottom: 8px;
    box-shadow: none !important;
    border: 2px solid #e2ecec;
    border-radius: 8px !important;
    height: 45px;

    .v-btn--active {
      background: #2196f3;
      color: #fff;
    }

    button {
      height: 41px;
    }

    button:first-child {
      border-radius: 7px 0 0 7px;
    }

    button:last-child {
      border-radius: 0 7px 7px 0;
    }
  }

  .v-input--switch {
    margin-top: 5px !important;

    &.exc_flex-start {
      .v-input__control {
        .v-input__slot {
          justify-content: flex-start;
        }
      }
    }

    .v-input__control {
      .v-input__slot {
        border: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .v-messages {
        display: none !important;
      }
    }
  }
}

.ex_select-account {
  border: 2px solid #2196f3;
  border-radius: 5px;

  .v-input__control {
    min-height: unset !important;

    .v-input__slot {
      min-height: unset;
      box-shadow: none !important;

      input {
        color: #2196f3;
      }
    }
  }

  i {
    color: #2196f3 !important;
  }
}
