/* stylelint-disable */

.ex_btn-group--students {
  border: 1px solid #e3e3e3 !important;
  border-radius: 5px;
  box-shadow: none !important;
}

.ex_status-circle--students {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &.done {
    background: #7ed321;
  }

  &.warning {
    background: #ffc107;
  }

  &.danger {
    background: #ff5252;
  }
}

.ex_search--student {
  .v-input__control {
    min-height: unset !important;
    height: 35px;

    .v-input__slot {
      border: 2px solid #e3e3e3;
      min-height: unset !important;
      height: 35px;
      border-radius: 8px !important;

      &:hover {
        border: 2px solid #e3e3e3 !important;
      }

      input {
        font-size: 13px !important;
        margin-top: 3px;
      }
    }
  }
}

.ex_header-steper--student {
  display: none !important;
}
