<template>
  <div>
    <top-box></top-box>
    <mandates-table></mandates-table>
  </div>
</template>
<script>
  import TopBox from '../../components/mandate/TopBox';
  import MandatesTable from '../../components/mandate/MandatesTable';

  export default {
    components: { TopBox, MandatesTable },
  };
</script>
