<template>
  <v-toolbar fixed app :clipped-left="clipped" light :height="($store.state.less600 ? 36 : 56)" dark color="primary">
    <v-toolbar-side-icon @click.stop="isDrawer = !isDrawer" ></v-toolbar-side-icon>
    <v-text-field
      class="ex_search--dashboard"
      placeholder="Buscar..."
      single-line
      solo
      light
    ></v-text-field>
    <v-spacer></v-spacer>
    <v-menu  offset-y>
      <v-btn slot="activator" flat icon>
        <div class="btn-top-bar">
          <v-icon>account_circle</v-icon>
        </div>
      </v-btn>
      <v-list>
        <v-list-tile to="/">
          <v-list-tile-title>My Account</v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click="signout">
          <v-list-tile-title>Sign Out</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>
<script>
  export default {
    props: {
      clipped: Boolean,
      miniVariant: Boolean,
      drawer: Boolean,
      drawer2: Boolean,
      rightDrawer: Boolean,
      fixed: Boolean,
      notifications: Array,
      readNotification: Function,
      removeNotification: Function,
    },
    data() {
      return {
        isDrawer: this.drawer,
        isDrawer2: this.drawer2,
        isClipped: this.clipped,
        isFixed: this.fixed,
        isMiniVariant: this.miniVariant,
        isRightDrawer: this.rightDrawer,
      };
    },
    methods: {
      signout() {
        this.$router.push('/auth/login');
      },
    },
    watch: {
      drawer() {
        this.isDrawer = this.drawer;
      },
      isDrawer() {
        this.$emit('drawer', this.isDrawer);
      },
      isMiniVariant() {
        this.$emit('miniVariant', this.isMiniVariant);
      },
    },
  };
</script>
