<template>
  <v-navigation-drawer
    fixed
    :mini-variant="miniVariant"
    :clipped="clipped"
    v-model="isDrawer"
    enable-resize-watcher
    app
    class="elevation-4 left-drawer primary"
    :width="$store.state.less600 ? 250 : 150"
    dark
  >
    <v-toolbar flat class="transparent top-toolbar-height">
      <v-list class="pa-0">
        <v-list-tile class="logo-drawer no-hover-color pa-0" to="/" exact >
          <logo background="transparent" theme="light" firstWidth="35px" secondWidth="60%"></logo>
        </v-list-tile>
      </v-list>
    </v-toolbar>

    <v-toolbar flat class="transparent top-toolbar-height">
      <v-list class="pa-0">
        <v-list-tile class="ex_tile-list">
          <img src="../../assets/images/avatar.png" />
        </v-list-tile>
      </v-list>
    </v-toolbar>

    <v-list dense>
      <template v-for="item in items">
        <v-list-tile @click="" avatar class="left-drawer-item" :to="item.to" active-class="active-drawer">
          <v-list-tile-content avatar class="align-center justify-center">
            <v-list-tile-title class="text-xs-left white--text">{{item.text}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>

  </v-navigation-drawer>
</template>
<script>
  import Logo from './Logo';

  export default {
    components: { Logo },
    props: {
      clipped: Boolean,
      miniVariant: Boolean,
      drawer: Boolean,
      logout: Function,
      navItems: Array,
    },
    data() {
      return {
        isDrawer: this.drawer,
        isMiniVariant: this.miniVariant,
        items: [
          {
            text: 'Dashboard',
            to: '/home',
            userType: 'all',
          },
          {
            text: 'Ex-Alumnas',
            to: '/ex-students',
            userType: 'all',
          },
          {
            text: 'Mandato',
            to: '/mandate',
            userType: 'all',
          },
          {
            text: 'Cobranza',
            to: '/collections',
            userType: 'all',
          },
          {
            text: 'Cartolas',
            to: '/cartolas',
            userType: 0,
          },
          {
            text: 'Inventario',
            to: '/stock',
            userType: 'all',
          },
          {
            text: 'Kardex',
            to: '/kardex',
            userType: 'all',
          },
          {
            text: 'Usuarios',
            to: '/users',
            userType: 0,
          },
          {
            text: 'Reporteria',
            to: '/reporter',
            userType: 0,
          },
        ],
      };
    },
    watch: {
      drawer() {
        this.isDrawer = this.drawer;
      },
      isDrawer() {
        this.$emit('drawer', this.isDrawer);
      },
      isMiniVariant() {
        this.$emit('miniVariant', this.isMiniVariant);
      },
    },
  };
</script>
