<template>
  <div class="ex_logo--content"
       :style="{background: background ? background : 'white'}">
    <img src="../../assets/images/exvma-icon.png"
         :width="firstWidth ? firstWidth : '70px'" />
    <img v-if="theme === 'dark'" src="../../assets/images/exvma-logo-color.png"
         :width="secondWidth ? secondWidth: '60%'" />
    <img src="../../assets/images/exvma-logo-white.png"
         :width="secondWidth ? secondWidth: '60%'"
         v-else />
  </div>
</template>
<script>
  export default {
    props: {
      background: String,
      theme: String,
      firstWidth: String,
      secondWidth: String,
    },
  };
</script>
