<template>
  <div>
    <v-layout class="pt-3" :class="{'pa-2': $store.state.less600}">
      <v-flex md8 offset-md2 xs12>
        <v-card height="500" class="ex_card--login">
          <v-layout row wrap class="ex_layout--login">
            <v-flex xs12 md6 class="ex_flex--login">
              <v-form ref="form" v-model="valid" lazy-validation class="ex_form--form"
                :class="{'pa-5': !$store.state.less600, 'pa-2': $store.state.less600}">
                <div class="ex_logo--content" v-if="$store.state.less600">
                  <img src="../../assets/images/exvma-icon.png" alt="">
                  <img src="../../assets/images/exvma-logo-color.png" alt="">
                </div>
                <div class="ex_form--login mb-4">
                  <div class="icon--login">
                    <v-icon>account_circle</v-icon>
                  </div>
                  <div class="input--login">
                    <v-text-field
                      v-model="user.email"
                      solo
                      required
                      hide-details
                      placeholder="Username or Email"
                    ></v-text-field>
                  </div>
                </div>
                <div class="ex_form--login">
                  <div class="icon--login">
                    <v-icon>vpn_key</v-icon>
                  </div>
                  <div class="input--login">
                    <v-text-field
                      v-model="user.password"
                      solo
                      required
                      hide-details
                      type="password"
                      placeholder="Password"
                    ></v-text-field>
                  </div>
                </div>
                <div class="ex_form--btn">
                  <v-checkbox
                    color="primary"
                    label="Recuérdame"
                    v-model="checkbox"
                    hide-details></v-checkbox>
                  <v-spacer></v-spacer>
                  <v-btn
                    style="align-self: flex-end"
                    class="mt-4 mr-0"
                    depressed
                    color="primary"
                    :disabled="!valid"
                    @click="submit">
                    Iniciar sesión
                  </v-btn>
                </div>
              </v-form>
            </v-flex>
            <v-flex xs12 md6 class="ex_flex--login-right" v-if="!$store.state.less600">
              <div class="ex_logo--content">
                <img src="../../assets/images/exvma-icon.png" alt="">
                <img src="../../assets/images/exvma-logo-color.png" alt="">
              </div>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        valid: true,
        email: null,
        password: null,
        checkbox: false,
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+/.test(v) || 'E-mail must be valid',
        ],
      };
    },
    methods: {
      submit() {
        if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
          this.$router.push('/home');
        }
      },
    },
    watch: {
      '$store.state.less600': function () {
        console.log('less600: ', this.$store.state.less600);
      },
    },
  };
</script>
<script>
  import api from '../../api/user';
  //import ForgotPass from './ForgotPass';

  export default {
    /*components: {
      ForgotPass,
    },*/
    data: () => ({
      loading: false,
      valid: true,
      user: {
        email: '',
        password: '',
        remember: true,
      },
      passwordRule: [
        v => !!v || 'The password is required',
        v => (v && v.length >= 8) || 'Password must include at least 8 characters',
      ],
      email: [
        v => !!v || 'The email is required',
      ],
    }),
    methods: {
      clear() {
        this.$refs.form.reset();
      },
      submit() {
        if (this.$refs.form.validate()) {
          this.loading = true;
          api.login(this.user)
            .then((r) => {
              this.$store.dispatch('setCurrentUser', r.data).then(() => {
                if (this.$store.state.auth.isAuth) this.$router.push(this.$route.query.redirect || '/');
                localStorage.setItem('userEmail', this.user.email);
              });
              this.loading = false;
            }).catch((err) => {
              this.$store.commit('SET_MESSAGE', err.response.data);
              this.loading = false;
            });
        }
      },
    },
    mounted() {
    },
    destroyed() {
    },
  };
</script>
