<template>
  <v-dialog
    v-model="show"
    max-width="1000"
    persistent
    scrollable
  >
    <v-card>
      <v-card-title style="justify-content: center;">
        <h1>Guías</h1>
      </v-card-title>

      <v-card-text class="pl-3 pr-3">
        <v-layout row wrap>
          <v-flex xs12 md12>
            <v-layout row wrap>
              <v-flex xs3 class="pr-1">
                <div class="ex_form-input">
                  <label>ID guía</label>
                  <v-text-field
                    placeholder="3321123"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
              <v-flex xs2 class="pr-1 pl-1">
                <div class="ex_form-input">
                  <label>Tipo de guía</label>
                  <v-btn-toggle v-model="text">
                    <v-btn flat block value="ing">
                      Ingreso
                    </v-btn>
                    <v-btn flat block value="egr">
                      Egreso
                    </v-btn>
                  </v-btn-toggle>
                </div>
              </v-flex>
              <v-flex xs3 class="pr-1 pl-1">
                <div class="ex_form-input">
                  <label>Fecha</label>
                  <v-text-field
                    placeholder="dd/mm/aa"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
              <v-flex xs4 class="pl-1">
                <div class="ex_form-input">
                  <label>Cliente/Proveedor</label>
                  <v-text-field
                    placeholder="Buscar"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 md12>
            <div class="ex_form-input">
              <label>Referencia</label>
              <v-text-field
                placeholder="Introduzca una referencia de su gusto..."
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md12>
            <v-data-table
              :headers="headers"
              :items="data"
              hide-actions
              item-key="name"
              class="elevation-0"
            >
              <template slot="items" slot-scope="props">
                <tr>
                  <td class="text-xs-center">{{ props.item.id }}</td>
                  <td class="text-xs-left">{{ props.item.name }}</td>
                  <td class="text-xs-left">{{ props.item.quantity }}</td>
                  <td class="text-xs-left">{{ props.item.unity }}</td>
                  <td class="text-xs-center">{{ props.item.price }}</td>
                  <td class="text-xs-right">{{ props.item.total }}</td>
                </tr>
              </template>
              <template slot="footer">
                <td class="text-xs-right" colspan="100%">
                  <b>63,000</b>
                </td>
              </template>
            </v-data-table>
          </v-flex>
          <v-flex xs12 v-if="text === 'egr'">
            <v-layout row wrap>
              <v-flex xs3 class="pr-1">
                <div class="ex_form-input">
                  <label>Cuenta origen</label>
                  <v-text-field
                    placeholder="Seleccione cuenta"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
              <v-flex xs3 class="pl-1 pr-1">
                <div class="ex_form-input">
                  <label>Método de pago</label>
                  <v-text-field
                    placeholder="Seleccione método"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
              <v-flex xs2 class="pl-1 pr-1">
                <div class="ex_form-input">
                  <label>Número doc.</label>
                  <v-text-field
                    placeholder="Introduzca número"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
              <v-flex xs2 class="pl-1 pr-1">
                <div class="ex_form-input">
                  <label>Valor</label>
                  <v-text-field
                    placeholder="Introduzca valor"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
              <v-flex xs2 class="pl-1">
                <div class="ex_form-input">
                  <label>Saldo</label>
                  <v-text-field
                    placeholder="Saldo"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions class="pl-3 pr-3 pb-3">
        <v-btn
          color="error"
          @click="onClose"
        >
          Eliminar
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="warning"
               block
               @click="onClose">Cancel</v-btn>
        <v-btn
          color="success"
          @click="onClose"
          block
        >
          Grabar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    props: {
      show: Boolean,
      onClose: Function,
      onText: String,
    },
    data() {
      return {
        text: 'ing',
        headers: [
          {
            text: 'ID',
            value: 'id',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Nombre',
            value: 'name',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Cantidad',
            value: 'quantity',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Unidad',
            value: 'unity',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Precio unitario',
            value: 'price',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Total',
            value: 'total',
            align: 'center',
            sortable: false,
          },
        ],
        data: [
          {
            id: 0,
            name: 'Poleron',
            quantity: 21,
            unity: 'Unidad',
            price: '1,000',
            total: '21,000',
          },
          {
            id: 0,
            name: 'Poleron',
            quantity: 21,
            unity: 'Unidad',
            price: '1,000',
            total: '21,000',
          },
          {
            id: 0,
            name: 'Poleron',
            quantity: 21,
            unity: 'Unidad',
            price: '1,000',
            total: '21,000',
          },
        ],
      };
    },
    watch: {
      onText() {
        this.text = this.onText;
      },
    },
  };
</script>
