<template>
  <v-dialog
    v-model="show"
    max-width="590"
    persistent
    scrollable
  >
    <v-card>
      <v-card-title style="justify-content: center;">
        <h1>Crear producto</h1>
      </v-card-title>
      <v-card-text class="pl-5 pr-5 pb-0">
        <v-layout row wrap>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>ID</label>
              <v-text-field
                placeholder="Id"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Nombre</label>
              <v-text-field
                placeholder="Introduzca nombre"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Unidad</label>
              <v-text-field
                placeholder="Introduzca unidad"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Precio lista</label>
              <v-text-field
                placeholder="Introduzca el precio"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Descripción</label>
              <v-textarea
                outline
                placeholder="Introduzca descripción"
                rows="7"
              ></v-textarea>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Imagen</label>
              <v-textarea
                outline
                placeholder="Imagen"
                rows="7"
              ></v-textarea>
            </div>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions class="pl-5 pr-5">
        <v-btn
          class="ml-2 mb-2"
          color="error"
          depressed
          @click="onClose"
        >
          Eliminar
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          class="mr-2 mb-2"
          color="warning"
          depressed
          @click="onClose"
        >
          Cancelar
        </v-btn>
        <v-btn
          class="mr-2 mb-2"
          color="success"
          depressed
          block
          @click="onClose"
        >
          Enviar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    props: {
      show: Boolean,
      onClose: Function,
    },
    data() {
      return {
        text: 'si',
      };
    },
  };
</script>
