<template>
  <div>
    <v-card>
      <v-card-title>
        <h2>Inventario</h2>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="data"
          item-key="name"
          class="elevation-0"
        >
          <template slot="items" slot-scope="props">
            <tr>
              <td class="text-xs-center">{{ props.item.id }}</td>
              <td class="text-xs-left">{{ props.item.name }}</td>
              <td class="text-xs-left">{{ props.item.dateI }}</td>
              <td class="text-xs-left">{{ props.item.dateE }}</td>
              <td class="text-xs-center">{{ props.item.stock }}</td>
              <td class="text-xs-left">{{ props.item.unity }}</td>
              <td class="text-xs-right">{{ `$${props.item.price}` }}</td>
              <td class="text-xs-center">
                <v-btn icon small>
                  <v-icon color="info">edit</v-icon>
                </v-btn>
                <v-btn icon small>
                  <v-icon color="error">highlight_off</v-icon>
                </v-btn>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        headers: [
          {
            text: 'ID',
            value: 'id',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Nombre',
            value: 'name',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Fecha ult. ingreso',
            value: 'dateI',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Fecha ult. egreso',
            value: 'dateE',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Cantidad(stock)',
            value: 'stock',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Unidad',
            value: 'unity',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Precio',
            value: 'price',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Acciones',
            align: 'center',
            sortable: false,
          },
        ],
        data: [
          {
            id: 'SK223',
            name: 'Manuela',
            dateI: 'dd/mm/aa',
            dateE: 'dd/mm/aa',
            stock: 23,
            unity: 'unidad',
            price: 21.12,
            status: 0,
          },
          {
            id: 'SK223',
            name: 'Manuela',
            dateI: 'dd/mm/aa',
            dateE: 'dd/mm/aa',
            stock: 23,
            unity: 'unidad',
            price: 21.12,
            status: 0,
          },
          {
            id: 'SK223',
            name: 'Manuela',
            dateI: 'dd/mm/aa',
            dateE: 'dd/mm/aa',
            stock: 23,
            unity: 'unidad',
            price: 21.12,
            status: 0,
          },
          {
            id: 'SK223',
            name: 'Manuela',
            dateI: 'dd/mm/aa',
            dateE: 'dd/mm/aa',
            stock: 23,
            unity: 'unidad',
            price: 21.12,
            status: 0,
          },
          {
            id: 'SK223',
            name: 'Manuela',
            dateI: 'dd/mm/aa',
            dateE: 'dd/mm/aa',
            stock: 23,
            unity: 'unidad',
            price: 21.12,
            status: 0,
          },
          {
            id: 'SK223',
            name: 'Manuela',
            dateI: 'dd/mm/aa',
            dateE: 'dd/mm/aa',
            stock: 23,
            unity: 'unidad',
            price: 21.12,
            status: 0,
          },
          {
            id: 'SK223',
            name: 'Manuela',
            dateI: 'dd/mm/aa',
            dateE: 'dd/mm/aa',
            stock: 23,
            unity: 'unidad',
            price: 21.12,
            status: 0,
          },
        ],
        modalInfo: false,
      };
    },
    methods: {
      toggleAll() {
        if (this.selected.length) this.selected = [];
        else this.selected = this.data.slice();
      },
      openInfo() {
        this.modalInfo = true;
      },
      onCloseInfo() {
        this.modalInfo = false;
      },
    },
  };
</script>
