<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 md3 class="pl-0 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;justify-content: space-around;">
            <div>
              <div class="ex_number--box text--primary">844</div>
              <div class="ex_subtitle--box text--primary">Productos existentes</div>
            </div>
            <div>
              <v-icon class="ex_middle-icon--box" color="blue lighten-3">expand_less</v-icon>
            </div>
            <div>
              <v-icon class="ex_last-icon--box" color="blue lighten-1">equalizer</v-icon>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;" class="pt-3 pb-3">
            <v-btn
              @click="openProduct"
              block
              color="success"
              depressed
              class="white--text">
              <v-icon left dark>add_box</v-icon>
              Agregar producto
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;" class="pt-3 pb-3">
            <v-btn
              @click="openGuide('ing')"
              block
              color="warning"
              depressed
              class="white--text">
              <v-icon left dark>add_box</v-icon>
              Guía ingreso
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-0 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;">
            <v-btn
              @click="openGuide('egr')"
              block
              depressed
              color="info"
              class="white--text">
              <v-icon left dark>add_box</v-icon>
              Guía egreso
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <modal-product :show="modalProduct" :onClose="closeProduct"></modal-product>
    <modal-guide :show="modalGuide" :onClose="closeGuide" :onText="text"></modal-guide>
  </div>
</template>
<script>
  import ModalProduct from '../../components/stock/ModalProduct';
  import ModalGuide from '../../components/stock/ModalGuide';

  export default {
    components: { ModalProduct, ModalGuide },
    data() {
      return {
        modalProduct: false,
        modalGuide: false,
        text: 'ing',
      };
    },
    methods: {
      openProduct() {
        this.modalProduct = true;
      },
      openGuide(text) {
        this.text = text;
        this.modalGuide = true;
      },
      closeProduct() {
        this.modalProduct = false;
      },
      closeGuide() {
        this.modalGuide = false;
      },
    },
  };
</script>
