<template>
  <v-dialog
    v-model="show"
    max-width="590"
    persistent
    scrollable
  >
    <v-card>
      <v-card-title style="justify-content: center;">
        <h1>Actualizar datos</h1>
      </v-card-title>
      <v-card-text class="pl-5 pr-5">
        <v-layout row wrap>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Username</label>
              <v-text-field
                placeholder="Introduzca username"
                outline
                single-line
                v-model="row.username"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Email</label>
              <v-text-field
                placeholder="Introduzca email"
                outline
                single-line
                v-model="row.email"
              ></v-text-field>
            </div>
          </v-flex>

        </v-layout>
      </v-card-text>
      <v-card-actions class="pl-5 pr-5">
        <v-btn
          class="ml-2 mb-2"
          color="warning"
          depressed
          @click="onClose"
        >
          Cancelar
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          class="mr-2 mb-2"
          color="success"
          depressed
          @click="updateUsers()"
        >
          Enviar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  import toastr from 'toastr';
  import apiUser from '../../api/user';

  export default {
    props: {
      show: Boolean,
      onClose: Function,
      users: Object,
      fetchUser: Function,
    },
    data() {
      return {
        row: [],
      };
    },
    methods: {
      updateUsers() {
        console.log(typeof this.row);
        delete this.row.created_at;
        delete this.row.updated_at;
        delete this.row.password;
        const keys = Object.keys(this.row);
        const formData = new FormData();
        keys.forEach((k) => {
          formData.append(k, (typeof this.row[k] === 'object' ? JSON.stringify(this.row[k]) : this.row[k]));
        });
        apiUser.update(this.row.id, formData).then(() => {
          this.fetchUser();
          this.onClose();
          // this.$store.commit('SET_MESSAGE', 'Usuario actualizado');
          toastr.options.positionClass = 'toast-bottom-center';
          toastr.success('Listo', 'Usuario actualizado');
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', err.response.data);
        });
      },
    },
    watch: {
      show() {
        this.row = this.users;
      },
      onClose() {
        this.row = [];
      },
    },
  };
</script>
