<template>
  <v-dialog
    v-model="show"
    max-width="590"
    persistent
    scrollable
  >
    <v-card>
      <v-card-title style="justify-content: center;">
        <h1>Crear Usuario</h1>
      </v-card-title>

      <v-card-text class="pa-0">
        <v-stepper v-model="e1" class="elevation-0">
          <v-stepper-header class="ex_header-steper--student">
            <v-stepper-step :complete="e1 > 1" step="1">Name of step 1</v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content step="1" class="pt-0">
              <v-card class="elevation-0">
                <v-card-text>
                  <v-layout row wrap>
                    <v-flex xs12 md6 class="pr-1">
                      <div class="ex_form-input">
                        <label>Username</label>
                        <v-text-field
                          placeholder="Introduzca username"
                          outline
                          single-line
                          v-model="row.username"
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pl-1">
                      <div class="ex_form-input">
                        <label>Email</label>
                        <v-text-field
                          placeholder="Introduzca email"
                          outline
                          single-line
                          v-model="row.email"
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pr-1">
                      <div class="ex_form-input">
                        <label>Password</label>
                        <v-text-field
                          v-model="row.password"
                          :type="show1 ? 'text' : 'password'"
                          name="input-10-1"
                          hint="At least 8 characters"
                          counter
                          @click:append="show1 = !show1"
                          outline
                          single-line
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pl-1">
                      <div class="ex_form-input">
                        <label>Repeat Password</label>
                        <v-text-field
                          v-model="row.passwordRepeat"
                          :type="show2 ? 'text' : 'password'"
                          name="input-10-2"
                          hint="At least 8 characters"
                          counter
                          @click:append="show2 = !show2"
                          outline
                          single-line
                        ></v-text-field>
                      </div>
                    </v-flex>
                  </v-layout>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    color="error"
                    @click="onClose"
                  >
                    Cancelar
                  </v-btn>
                  <v-spacer></v-spacer>
                  <!-- <v-btn color="warning" @click="onClose">Cancel</v-btn> -->
                  <v-btn
                    color="success"
                    @click="submitUser()"
                    block
                  >
                    Grabar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
  import toastr from 'toastr';
  import apiUser from '../../api/user';
  import { rules } from '../../plugins/util';

  export default {
    props: {
      show: Boolean,
      onClose: Function,
      fetchUser: Function,
    },
    data() {
      return {
        rules,
        show1: false,
        show2: false,
        dialog: false,
        e1: 0,
        row: [],
        users: [],
      };
    },
    methods: {
      submitUser() {
        const keys = Object.keys(this.row);
        const formData = new FormData();
        keys.forEach((k) => {
          formData.append(k, (typeof this.row[k] === 'object' ? JSON.stringify(this.row[k]) : this.row[k]));
        });
        apiUser.create(formData).then(() => {
          this.fetchUser();
          this.onClose();
          this.row = [];
          this.e1 = 1;
          // this.$store.commit('SET_MESSAGE', 'Usuario creado');
          toastr.options.positionClass = 'toast-bottom-center';
          toastr.success('Listo', 'Usuario Creado');
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', err.response.data);
        });
      },
    },
  };
</script>
