<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 md3 class="pl-0 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;justify-content: space-around;">
            <div>
              <div class="ex_number--box text--primary">6844</div>
              <div class="ex_subtitle--box text--primary">Usuario</div>
            </div>
            <div>
              <v-icon class="ex_middle-icon--box" color="blue lighten-3">expand_less</v-icon>
            </div>
            <div>
              <v-icon class="ex_last-icon--box" color="blue lighten-1">equalizer</v-icon>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs12 md3 class="pl-1 pr-0 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;">
            <v-btn
              @click="openUser"
              block
              depressed
              color="success"
              class="white--text">
              <v-icon left dark>add_box</v-icon>
              Crear usuario
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <modal-user :show="modalUser" :onClose="closeModalUser" :fetchUser="fetchUser"></modal-user>
  </div>
</template>
<script>
  import ModalUser from './ModalUser';

  export default {
    props: {
      traeUser: Function,
    },
    components: { ModalUser },
    data() {
      return {
        modalUser: false,
      };
    },
    methods: {
      openUser() {
        this.modalUser = true;
      },
      closeModalUser() {
        this.modalUser = false;
      },
      fetchUser() {
        // console.log('ok');
        this.traeUser();
      },
    },
  };
</script>
