<template>
  <div>
    <v-card>
      <v-card-title style="display: flex;align-items: center;">
        <h2>Usuarios</h2>
        <v-spacer></v-spacer>
        <v-btn-toggle v-model="type" class="ex_btn-group--students">
          <v-btn flat value="act">
            Activa
          </v-btn>
          <v-btn flat value="ina">
            Inactiva
          </v-btn>
          <v-btn flat value="pre">
            Preliminar
          </v-btn>
        </v-btn-toggle>
        <v-spacer></v-spacer>
        <v-text-field
          class="ex_search--student"
          single-line
          placeholder="Buscar..."
          outline
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="warning" depressed>Importar</v-btn>
        <v-btn color="info" depressed>Exportar</v-btn>
      </v-card-title>
      <v-card-text>
        <v-data-table
          v-model="selected"
          :headers="headers"
          :items="users"
          select-all
          item-key="username"
          class="elevation-0"
        >
          <template slot="headers" slot-scope="props">
            <tr>
              <!-- <th>
                <v-checkbox
                  :input-value="props.all"
                  :indeterminate="props.indeterminate"
                  primary
                  hide-details
                  @click.native="toggleAll"
                ></v-checkbox>
              </th> -->
              <th v-for="header in props.headers"
                  :key="header.text">
                {{ header.text }}
              </th>
            </tr>
          </template>
          <template slot="items" slot-scope="props">
            <tr :active="props.selected" @click="props.selected = !props.selected">
              <!-- <td>
                <v-checkbox
                  :input-value="props.selected"
                  primary
                  hide-details
                ></v-checkbox>
              </td> -->
              <!-- <td class="text-xs-center">{{ props.item.year }}</td> -->
              <td class="text-xs-center">{{ props.item.username }}</td>
              <td class="text-xs-center">{{ props.item.email }}</td>
              <!-- <td class="text-xs-center">
                <div class="ex_status-circle--students"
                     :class="{
                        'done': props.item.status === 0,
                        'warning': props.item.status === 1,
                        'danger': props.item.status === 2
                     }"></div>
              </td>
              <td class="text-xs-center">{{ props.item.update }}</td> -->
              <td class="text-xs-center">
                <v-btn icon small>
                  <v-icon color="info" @click="openInfo(props.item)">edit</v-icon>
                </v-btn>
                <v-btn icon small>
                  <v-icon color="error" @click="deleteUser(props.item.id)">highlight_off</v-icon>
                </v-btn>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <modal-info :show="modalInfo" :onClose="onCloseInfo" :users="user" :fetchUser="traeUser"></modal-info>
  </div>
</template>
<script>
  import toastr from 'toastr';
  import UserM from '../../models/UserM';
  import ModalInfo from './ModalInfo';
  import apiUser from '../../api/user';

  export default {
    props: {
      users: Array,
      traeUser: Function,
    },
    components: { ModalInfo },
    data() {
      return {
        row: [],
        user: new UserM(),
        selected: [],
        type: 'act',
        headers: [
          // {
          //   text: 'Año',
          //   value: 'year',
          //   align: 'center',
          //   sortable: false,
          // },
          {
            text: 'Username',
            value: 'username',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Email',
            value: 'email',
            align: 'center',
            sortable: false,
          },
          // {
          //   text: 'Estado',
          //   value: 'status',
          //   align: 'center',
          //   sortable: false,
          // },
          // {
          //   text: 'Última actualización',
          //   value: 'update',
          //   align: 'center',
          //   sortable: false,
          // },
          {
            text: 'Acciones',
            value: 'action',
            align: 'center',
            sortable: false,
          },
        ],
        data: [
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 0,
            update: '12/04/18 1:23pm',
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 0,
            update: '12/04/18 1:23pm',
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 1,
            update: '12/04/18 1:23pm',
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 0,
            update: '12/04/18 1:23pm',
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 2,
            update: '12/04/18 1:23pm',
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 0,
            update: '12/04/18 1:23pm',
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 0,
            update: '12/04/18 1:23pm',
          },
        ],
        modalInfo: false,
      };
    },
    methods: {
      toggleAll() {
        if (this.selected.length) this.selected = [];
        else this.selected = this.data.slice();
      },
      openInfo(row) {
        this.user = row;
        this.modalInfo = true;
      },
      onCloseInfo() {
        this.user = new UserM();
        this.modalInfo = false;
      },
      deleteUser(id) {
        const formData = new FormData();
        formData.append('action', 'delete');
        apiUser.update(id, formData).then(() => {
          this.traeUser();
          // this.$store.commit('SET_MESSAGE', 'Usuario Eliminado');
          toastr.options.positionClass = 'toast-bottom-center';
          toastr.success('Listo', 'Usuario Eliminado');
        }).catch((err) => {
          // this.$store.commit('SET_MESSAGE', err.response.data);
          toastr.options.positionClass = 'toast-bottom-center';
          toastr.error('Error', err.response.data);
        });
      },
    },
  };
</script>
