<template>
  <div>
    <top-box></top-box>
    <middle-box></middle-box>
    <bottom-box></bottom-box>
    <cartolas-table></cartolas-table>
  </div>
</template>
<script>
  import TopBox from '../../components/cartolas/TopBox';
  import MiddleBox from '../../components/cartolas/MiddleBox';
  import BottomBox from '../../components/cartolas/BottomBox';
  import CartolasTable from '../../components/cartolas/CartolasTable';

  export default {
    components: { TopBox, MiddleBox, BottomBox, CartolasTable },
  };
</script>
