<template>
  <div>
    <top-box></top-box>
    <v-card>
      <v-card-title>
        <h2>Recaudación</h2>
        <v-spacer></v-spacer>
        <v-text-field
          class="ex_search--student"
          single-line
          placeholder="Seleccione"
          outline
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-card-text>
      </v-card-text>
    </v-card>
    <AsyncComponent :component="dashboard"  class="fluid pa-0"/>
  </div>
</template>
<script>
  // import TopBox from '../components/dashboard/TopBox';
  import AsyncComponent from '../components/common/AsyncComponent';

  export default {
    components: { AsyncComponent },
    data: () => ({
      dashboard: null,
    }),
    mounted() {
      this.dashboard = '../components/dashboard/TopBox';
    },
  };
</script>
