<template>
  <v-card class="mb-3">
    <v-card-text>
      <v-layout row wrap>
        <v-flex xs12 md1 class="pr-1">
          <div class="ex_form-input">
            <label>Años</label>
            <v-text-field
              placeholder="Todas"
              outline
              single-line
            ></v-text-field>
          </div>
        </v-flex>
        <v-flex xs12 md2 class="pl-1 pr-1">
          <div class="ex_form-input">
            <label>Cartolas</label>
            <v-text-field
              placeholder="Todas"
              outline
              single-line
            ></v-text-field>
          </div>
        </v-flex>
        <v-flex xs12 md6 class="pl-1 pr-1">
          <div class="ex_form-input">
            <label>Tipo de documento</label>
            <v-btn-toggle v-model="text">
              <v-btn flat block value="dep">
                Depósito
              </v-btn>
              <v-btn flat block value="che">
                Cheque
              </v-btn>
              <v-btn flat block value="tra">
                Transferencia
              </v-btn>
              <v-btn flat block value="pag">
                Pago recibido
              </v-btn>
              <v-btn flat block value="aso">
                Traspado
              </v-btn>
            </v-btn-toggle>
          </div>
        </v-flex>
        <v-flex xs12 md3 class="pl-1">
          <div class="ex_form-input">
            <label>Buscar por cartolas</label>
            <v-text-field
              placeholder="Buscar..."
              outline
              single-line
            ></v-text-field>
          </div>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>
<script>
  export default {
    data() {
      return {
        text: 'dep',
      };
    },
  };
</script>
