<template>
  <div>
    <v-card>
      <v-card-text>
        <v-data-table
          v-model="selected"
          :headers="headers"
          :items="data"
          select-all
          item-key="name"
          class="elevation-0"
        >
          <template slot="headers" slot-scope="props">
            <tr>
              <th>
                <v-checkbox
                  :input-value="props.all"
                  :indeterminate="props.indeterminate"
                  primary
                  hide-details
                  @click.native="toggleAll"
                ></v-checkbox>
              </th>
              <th v-for="header in props.headers"
                  :key="header.text">
                {{ header.text }}
              </th>
            </tr>
          </template>
          <template slot="items" slot-scope="props">
            <tr :active="props.selected" @click="props.selected = !props.selected">
              <td>
                <v-checkbox
                  :input-value="props.selected"
                  primary
                  hide-details
                ></v-checkbox>
              </td>
              <td class="text-xs-center">
                <v-icon color="info">hd</v-icon>
              </td>
              <td class="text-xs-left">{{ props.item.date }}</td>
              <td class="text-xs-left">{{ props.item.rut }}</td>
              <td class="text-xs-left">{{ props.item.name }}</td>
              <td class="text-xs-left">{{ props.item.bank }}</td>
              <td class="text-xs-left">{{ props.item.account }}</td>
              <td class="text-xs-left">{{ props.item.type }}</td>
              <td class="text-xs-left">{{ props.item.document }}</td>
              <td class="text-xs-left">{{ props.item.glosa }}</td>
              <td class="text-xs-left red--text font-weight-bold">{{ `-$${props.item.charge}` }}</td>
              <td class="text-xs-left green--text font-weight-bold">{{ `$${props.item.abono}` }}</td>
              <td class="text-xs-left">{{ props.item.clasf }}</td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        selected: [],
        type: 'pen',
        headers: [
          {
            text: 'Cartola',
            value: 'cartola',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Fecha',
            value: 'date',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Rut',
            value: 'rut',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Nombre/Razón social',
            value: 'name',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Banco',
            value: 'bank',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Número de cuenta',
            value: 'account',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Tipo de documento',
            value: 'type',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Documento',
            value: 'document',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Glosa',
            value: 'glosa',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Cargo',
            value: 'charge',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Abono',
            value: 'abono',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Clasf.',
            value: 'clasf',
            align: 'center',
            sortable: false,
          },
        ],
        data: [
          {
            cartola: 'PR',
            date: '25/05/2018',
            rut: '18.024.036-2',
            name: 'NEPTUNO S.A.',
            bank: 'Banco Santander',
            account: '7401012863',
            type: 'Pago recibido',
            document: '',
            glosa: 'Pago recibido',
            charge: '217,000',
            abono: '1,156,955',
            clasf: '',
          },
          {
            cartola: 'PR',
            date: '25/05/2018',
            rut: '18.024.036-2',
            name: 'NEPTUNO S.A.',
            bank: 'Banco Santander',
            account: '7401012863',
            type: 'Pago recibido',
            document: '',
            glosa: 'Pago recibido',
            charge: '217,000',
            abono: '1,156,955',
            clasf: '',
          },
          {
            cartola: 'PR',
            date: '25/05/2018',
            rut: '18.024.036-2',
            name: 'NEPTUNO S.A.',
            bank: 'Banco Santander',
            account: '7401012863',
            type: 'Pago recibido',
            document: '',
            glosa: 'Pago recibido',
            charge: '217,000',
            abono: '1,156,955',
            clasf: '',
          },
          {
            cartola: 'PR',
            date: '25/05/2018',
            rut: '18.024.036-2',
            name: 'NEPTUNO S.A.',
            bank: 'Banco Santander',
            account: '7401012863',
            type: 'Pago recibido',
            document: '',
            glosa: 'Pago recibido',
            charge: '217,000',
            abono: '1,156,955',
            clasf: '',
          },
          {
            cartola: 'PR',
            date: '25/05/2018',
            rut: '18.024.036-2',
            name: 'NEPTUNO S.A.',
            bank: 'Banco Santander',
            account: '7401012863',
            type: 'Pago recibido',
            document: '',
            glosa: 'Pago recibido',
            charge: '217,000',
            abono: '1,156,955',
            clasf: '',
          },
          {
            cartola: 'PR',
            date: '25/05/2018',
            rut: '18.024.036-2',
            name: 'NEPTUNO S.A.',
            bank: 'Banco Santander',
            account: '7401012863',
            type: 'Pago recibido',
            document: '',
            glosa: 'Pago recibido',
            charge: '217,000',
            abono: '1,156,955',
            clasf: '',
          },
          {
            cartola: 'PR',
            date: '25/05/2018',
            rut: '18.024.036-2',
            name: 'NEPTUNO S.A.',
            bank: 'Banco Santander',
            account: '7401012863',
            type: 'Pago recibido',
            document: '',
            glosa: 'Pago recibido',
            charge: '217,000',
            abono: '1,156,955',
            clasf: '',
          },
        ],
        modalInfo: false,
      };
    },
    methods: {
      toggleAll() {
        if (this.selected.length) this.selected = [];
        else this.selected = this.data.slice();
      },
      openInfo() {
        this.modalInfo = true;
      },
      onCloseInfo() {
        this.modalInfo = false;
      },
    },
  };
</script>
