<template>
  <v-layout row wrap class="mb-3">
    <v-flex xs12 md3 class="pr-1">
      <v-card class="ex_box--top">
        <v-card-text style="display: flex;align-items: center;">
          <div>
            <v-btn icon color="success">
              <v-icon class="white--text">attach_money</v-icon>
            </v-btn>
          </div>
          <div>
            <div class="ex_number--box green--text">$6,150,289</div>
            <div class="ex_subtitle--box text--primary">Saldo anterior</div>
          </div>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 md3 class="pl-1 pr-1">
      <v-card class="ex_box--top">
        <v-card-text style="display: flex;align-items: center;">
          <div>
            <v-btn icon color="success">
              <v-icon class="white--text">attach_money</v-icon>
            </v-btn>
          </div>
          <div>
            <div class="ex_number--box green--text">$6,150,289</div>
            <div class="ex_subtitle--box text--primary">Cargos</div>
          </div>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 md3 class="pl-1 pr-1">
      <v-card class="ex_box--top">
        <v-card-text style="display: flex;align-items: center;">
          <div>
            <v-btn icon color="warning">
              <v-icon class="white--text">attach_money</v-icon>
            </v-btn>
          </div>
          <div>
            <div class="ex_number--box orange--text">$6,150,289</div>
            <div class="ex_subtitle--box text--primary">Abonos</div>
          </div>
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 md3 class="pl-1">
      <v-card class="ex_box--top">
        <v-card-text style="display: flex;align-items: center;">
          <div>
            <v-btn icon color="success">
              <v-icon class="white--text">attach_money</v-icon>
            </v-btn>
          </div>
          <div>
            <div class="ex_number--box green--text">$6,150,289</div>
            <div class="ex_subtitle--box text--primary">Saldo disponible</div>
          </div>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
