<template>
  <v-dialog
    v-model="show"
    max-width="390"
    persistent
    scrollable
  >
    <v-card>
      <v-card-title style="justify-content: center;">
        <h1>Agregar cuenta bancaria</h1>
      </v-card-title>
      <v-card-text>
        <v-layout row wrap>
          <v-flex xs12>
            <div class="ex_form-input">
              <label>Alias</label>
              <v-text-field
                placeholder="Introduzca alias"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12>
            <div class="ex_form-input">
              <label>Nombre de la cuenta</label>
              <v-text-field
                placeholder="Introduzca nombre"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12>
            <div class="ex_form-input">
              <label>¿La cuenta es bancaria?</label>
              <v-btn-toggle v-model="text">
                <v-btn flat block value="si">
                  Si
                </v-btn>
                <v-btn flat block value="no">
                  No
                </v-btn>
              </v-btn-toggle>
            </div>
          </v-flex>
          <v-flex xs12 v-if="text === 'si'">
            <div class="ex_form-input">
              <label>Banco</label>
              <v-text-field
                placeholder="Seleccione banco"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 v-if="text === 'si'">
            <div class="ex_form-input">
              <label>Nro. Cuenta</label>
              <v-text-field
                placeholder="Introduzca número"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions class="pl-3 pr-3 pb-3">
        <v-spacer></v-spacer>
        <v-btn color="warning"
               block
               @click="onClose">Cancel</v-btn>
        <v-btn
          color="success"
          @click="onClose"
          block
        >
          Grabar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    props: {
      show: Boolean,
      onClose: Function,
    },
    data() {
      return {
        text: 'si',
      };
    },
  };
</script>
