<template>
  <div>
    <v-card flat color="transparent" class="mb-3">
      <v-card-actions class="pl-0 pr-0">
        <v-select
          class="ex_select-account"
          append-icon="expand_more"
          :items="['Cuenta 1', 'Cuenta 2', 'Cuenta 3', 'Cuenta 4']"
          solo
          autocomplete
          hide-details
        ></v-select>
        <v-spacer></v-spacer>
        <v-btn
          @click="openAccount"
          block
          depressed
          color="info"
          class="white--text">
          <v-icon left dark>add_box</v-icon>
          Agregar cuenta
        </v-btn>
        <v-btn
          block
          depressed
          color="warning"
          class="white--text">
          <v-icon left dark>add_box</v-icon>
          Asociar cartola
        </v-btn>
        <v-btn
          block
          depressed
          color="success"
          class="white--text">
          <v-icon left dark>add_box</v-icon>
          Agregar pago
        </v-btn>
      </v-card-actions>
    </v-card>
    <modal-account :show="modalAccount" :onClose="closeAccount"></modal-account>
  </div>
</template>
<script>
  import ModalAccount from './ModalAccount';

  export default {
    components: { ModalAccount },
    data() {
      return {
        modalAccount: false,
      };
    },
    methods: {
      openAccount() {
        this.modalAccount = true;
      },
      closeAccount() {
        this.modalAccount = false;
      },
    },
  };
</script>
