<template>
  <div>
    <v-card>
      <v-card-title>
        <h2>Mandatos</h2>
        <v-spacer></v-spacer>
        <v-text-field
          class="ex_search--student"
          single-line
          placeholder="Buscar..."
          outline
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-card-text>
        <v-data-table
          v-model="selected"
          :headers="headers"
          :items="data"
          select-all
          item-key="name"
          class="elevation-0"
        >
          <template slot="headers" slot-scope="props">
            <tr>
              <th>
                <v-checkbox
                  :input-value="props.all"
                  :indeterminate="props.indeterminate"
                  primary
                  hide-details
                  @click.native="toggleAll"
                ></v-checkbox>
              </th>
              <th v-for="header in props.headers"
                  :key="header.text">
                {{ header.text }}
              </th>
            </tr>
          </template>
          <template slot="items" slot-scope="props">
            <tr :active="props.selected" @click="props.selected = !props.selected">
              <td>
                <v-checkbox
                  :input-value="props.selected"
                  primary
                  hide-details
                ></v-checkbox>
              </td>
              <td class="text-xs-center">{{ props.item.year }}</td>
              <td class="text-xs-left">{{ props.item.rut }}</td>
              <td class="text-xs-left">{{ props.item.name }}</td>
              <td class="text-xs-left">{{ props.item.lastname }}</td>
              <td class="text-xs-left">{{ props.item.lastname2 }}</td>
              <td class="text-xs-left">{{ props.item.method }}</td>
              <td class="text-xs-left">{{ props.item.periodicity }}</td>
              <td class="text-xs-left">{{ props.item.amount }}</td>
              <td class="text-xs-left">{{ props.item.payment }}</td>
              <td class="text-xs-center">
                <div class="ex_status-circle--students"
                     :class="{
                        'done': props.item.status === 0,
                        'warning': props.item.status === 1,
                        'danger': props.item.status === 2
                     }"></div>
              </td>
              <td class="text-xs-center">
                <v-switch color="success" hide-details :value="props.item.active === 1"></v-switch>
              </td>
              <td class="text-xs-center">
                <v-btn icon small>
                  <v-icon color="info" @click="openInfo">edit</v-icon>
                </v-btn>
                <v-btn icon small>
                  <v-icon color="error">highlight_off</v-icon>
                </v-btn>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        selected: [],
        type: 'act',
        headers: [
          {
            text: 'Año',
            value: 'year',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Rut',
            value: 'rut',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Nombre',
            value: 'name',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Apellido paterno',
            value: 'lastname',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Apellido materno',
            value: 'lastname2',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Método de cobro',
            value: 'method',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Periocidad',
            value: 'periodicity',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Monto',
            value: 'amount',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Fecha ult. pago',
            value: 'payment',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Estado',
            value: 'status',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Activo',
            value: 'active',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Acciones',
            value: 'action',
            align: 'center',
            sortable: false,
          },
        ],
        data: [
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            method: 'Transferencia',
            periodicity: 'Mensual',
            amount: 0.12,
            payment: '12/04/18 1:23pm',
            active: 0,
            status: 0,
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            method: 'Transferencia',
            periodicity: 'Anual',
            amount: 0.12,
            payment: '12/04/18 1:23pm',
            active: 1,
            status: 1,
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            method: 'Transferencia',
            periodicity: 'Anual',
            amount: 0.12,
            payment: '12/04/18 1:23pm',
            active: 0,
            status: 2,
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            method: 'Transferencia',
            periodicity: 'Mensual',
            amount: 0.12,
            payment: '12/04/18 1:23pm',
            active: 1,
            status: 0,
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            method: 'Transferencia',
            periodicity: 'Mensual',
            amount: 0.12,
            payment: '12/04/18 1:23pm',
            active: 1,
            status: 0,
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            method: 'Transferencia',
            periodicity: 'Mensual',
            amount: 0.12,
            payment: '12/04/18 1:23pm',
            active: 1,
            status: 0,
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            method: 'Transferencia',
            periodicity: 'Mensual',
            amount: 0.12,
            payment: '12/04/18 1:23pm',
            active: 1,
            status: 0,
          },
        ],
        modalInfo: false,
      };
    },
    methods: {
      toggleAll() {
        if (this.selected.length) this.selected = [];
        else this.selected = this.data.slice();
      },
      openInfo() {
        this.modalInfo = true;
      },
      onCloseInfo() {
        this.modalInfo = false;
      },
    },
  };
</script>
