<template>
  <v-dialog
    v-model="show"
    max-width="590"
    persistent
    scrollable
  >
    <v-card>
      <v-card-title style="justify-content: center;">
        <h1>Crear mandato</h1>
      </v-card-title>

      <v-card-text>
        <v-layout row wrap>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Rut</label>
              <v-text-field
                placeholder="Rut"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Periocidad</label>
              <v-btn-toggle v-model="text">
                <v-btn flat block value="si">
                  Mensual
                </v-btn>
                <v-btn flat block value="no">
                  Anual
                </v-btn>
              </v-btn-toggle>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Nombre</label>
              <v-text-field
                placeholder="Introduzca nombre"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Fecha de inicio de cobro</label>
              <v-text-field
                placeholder="dd/mm/aa"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Apellido paterno</label>
              <v-text-field
                placeholder="Introduzca apellido materno"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Moneda</label>
              <v-btn-toggle v-model="text">
                <v-btn flat block value="si">
                  UF
                </v-btn>
                <v-btn flat block value="no">
                  Pesos
                </v-btn>
              </v-btn-toggle>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Método de cobro</label>
              <v-text-field
                placeholder="Seleccione método de cobro"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Valor</label>
              <v-text-field
                placeholder="Introduzca monto anual"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Banco</label>
              <v-text-field
                placeholder="Seleccione banco"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input" style="justify-content: flex-start;">
              <label>Activo/Inactivo</label>
              <v-switch class="mt-0 exc_flex-start" v-model="switch1"></v-switch>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Número de cuenta</label>
              <v-text-field
                placeholder="Introduzca número de cuenta"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <v-btn
          color="error"
          @click="onClose"
        >
          Eliminar
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="warning" @click="onClose">Cancel</v-btn>
        <v-btn
          color="success"
          @click="onClose"
          block
        >
          Grabar mandato
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    props: {
      show: Boolean,
      onClose: Function,
    },
    data() {
      return {
        text: 'si',
        switch1: false,
        switch2: false,
        switch3: false,
      };
    },
  };
</script>
