<template>
  <v-dialog
    v-model="show"
    max-width="390"
    persistent
    scrollable
  >
    <v-card>
      <v-card-title style="justify-content: center;">
        <h1>Generar cobros</h1>
      </v-card-title>

      <v-card-text class="pb-0 pt-0">
        <v-layout row wrap>
          <v-flex xs12 md12 class="pr-1">
            <div class="ex_form-input">
              <label>Período</label>
              <v-layout row wrap>
                <v-flex xs6 class="pr-1">
                  <v-text-field
                    placeholder="Mes"
                    outline
                    single-line
                  ></v-text-field>
                </v-flex>
                <v-flex xs6 class="pl-1">
                  <v-text-field
                    placeholder="Año"
                    outline
                    single-line
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
          <v-flex xs12 md12 class="pr-1">
            <div class="ex_form-input">
              <label>Valor UF</label>
              <v-text-field
                placeholder="26,770.00"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md12 class="pl-1">
            <div class="ex_form-input">
              <label>Fecha de inicio de cobro</label>
              <v-text-field
                placeholder="dd/mm/aa"
                outline
                single-line
              ></v-text-field>
            </div>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions class="pr-3 pl-3 pb-3">
        <v-btn color="warning" block @click="onClose">Cancel</v-btn>
        <v-spacer></v-spacer>
        <v-btn
          color="success"
          @click="onClose"
          block
        >
          Generar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    props: {
      show: Boolean,
      onClose: Function,
    },
    data() {
      return {
        text: 'si',
        switch1: false,
        switch2: false,
        switch3: false,
      };
    },
  };
</script>
