<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 md3 class="pl-0 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;justify-content: space-around;">
            <div>
              <div class="ex_number--box text--primary">844</div>
              <div class="ex_subtitle--box text--primary">Mandatos activos</div>
            </div>
            <div>
              <v-icon class="ex_middle-icon--box" color="blue lighten-3">expand_less</v-icon>
            </div>
            <div>
              <v-icon class="ex_last-icon--box" color="blue lighten-1">equalizer</v-icon>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;" class="pt-3 pb-3">
            <v-btn
              @click="openMandate"
              block
              color="success"
              depressed
              class="white--text">
              <v-icon left dark>add_box</v-icon>
              Crear mandato
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;" class="pt-3 pb-3">
            <v-btn
              @click="openCollect"
              block
              color="warning"
              depressed
              class="white--text">
              <v-icon left dark>add_box</v-icon>
              Generar cobro
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-0 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;">
            <v-btn
              @click="generateExcel"
              block
              depressed
              color="info"
              class="white--text">
              <v-icon left dark>add_box</v-icon>
              Generar excel
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <modal-mandate :show="modalMandate" :onClose="closeMandate"></modal-mandate>
    <modal-collect :show="modalCollect" :onClose="closeCollect"></modal-collect>
  </div>
</template>
<script>
  import ModalMandate from '../../components/mandate/ModalMandate';
  import ModalCollect from '../../components/mandate/ModalCollect';

  export default {
    components: { ModalMandate, ModalCollect },
    data() {
      return {
        modalMandate: false,
        modalCollect: false,
      };
    },
    methods: {
      openMandate() {
        this.modalMandate = true;
      },
      closeMandate() {
        this.modalMandate = false;
      },
      openCollect() {
        this.modalCollect = true;
      },
      closeCollect() {
        this.modalCollect = false;
      },
      generateExcel() {
        //
      },
    },
  };
</script>
