<template>
  <div>
    <top-box :totalItems="totalItems" :traeExvma="traeExvma" :socias="socias"></top-box>
    <students-table :exvmas="exvmas" :search="search" :totalItems="totalItems" :pagination="pagination" :selected="selected" :loading="loading" :traeExvma="traeExvma"></students-table>
  </div>
</template>
<script>
  import apiExAlumnas from '../../api/exalumnas';
  import TopBox from '../../components/students/TopBox';
  import StudentsTable from '../../components/students/StudentsTable';

  export default {
    components: { TopBox, StudentsTable },
    data() {
      return {
        exvmas: [],
        socias: 0,
        search: '',
        totalItems: 0,
        pagination: {},
        selected: [],
        loading: false,
      };
    },
    methods: {
      traeExvma() {
        /* apiExAlumnas.fetch().then((res) => {
          this.exvmas = res.data;
          const scs = this.exvmas.filter(sc => sc.socia === 1);
          this.socias = scs.length;
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', err.response.data);
        }); */
        const { page, rowsPerPage, sortBy, descending } = this.pagination;
        this.loading = true;
        apiExAlumnas.fetch({
          page,
          rowsPerPage,
          sortBy,
          descending: descending ? 'desc' : 'asc',
          search: this.search,
        }).then((res) => {
          const { data, total } = res.data.exalumnas;
          this.exvmas = data;
          this.totalItems = total;
          this.loading = false;
          // const scs = this.exvmas.filter(sc => sc.socia === 1);
          this.socias = res.data.socias;
        });
      },
    },
    created() {
      this.traeExvma();
    },
  };
</script>
