<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 md3 class="pl-0 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;justify-content: space-around;">
            <div>
              <div class="ex_number--box text--primary">6844</div>
              <div class="ex_subtitle--box text--primary">Ex-Alumnas</div>
            </div>
            <div>
              <v-icon class="ex_middle-icon--box" color="blue lighten-3">expand_less</v-icon>
            </div>
            <div>
              <v-icon class="ex_last-icon--box" color="blue lighten-1">equalizer</v-icon>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;justify-content: space-around;">
            <div>
              <div class="ex_number--box">6844</div>
              <div class="ex_subtitle--box">Socias</div>
            </div>
            <div>
              <div class="ex_circle-percent--box">
                <span>25%</span>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;justify-content: flex-start;">
            <div class="pl-4">
              <div class="ex_number--box">$23.002.112</div>
              <div class="ex_subtitle--box">Mandatos activos</div>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-0 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;justify-content: flex-start;">
            <div class="pl-4">
              <div class="ex_number--box">$43.002.112</div>
              <div class="ex_subtitle--box">Vencido</div>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
  export default {
    props: {
      data: [],
    },
  };
</script>
