<template>
  <time class="clock">
    <v-flex xs12 style="padding-bottom:10px">
            <v-card color="white" class="white--text blue-grey darken-2" >
              <div class="headline" style="text-align: center; padding:5px 0px 10px">{{ city }}</div>
              <div style="text-align: center; padding:0px 5px 10px">
                <span style="">
                  <i aria-hidden="true" class="icon material-icons" style="color:white; margin-top:-3px; font-size:17px">
                    schedule
                  </i>
                </span>
                <span class="clock__hour ">
                   {{ hours }}
                </span>
                <span class="" v-if="!blink || seconds % 2 === 0">:</span>
                <span class="" v-else>:</span>
                <span class="clock__minutes ">{{ minutes }}</span>
                    <span class="" v-if="!blink || (seconds % 2 === 0 && displaySeconds)">:</span>
                <span class="" v-else-if="displaySeconds">:</span>
                <span v-if="displaySeconds" class="clock__seconds ">{{ seconds }}</span>
              </div>
            </v-card>
          </v-flex>
  </time>
</template>

<script>
function padZero(number) {
  if (number < 10) {
    return `0${number}`;
  }
  return number;
}
function getDate() {
  return new Date();
}
function getSeconds() {
  return padZero(getDate().getSeconds());
}
function getMinutes() {
  return padZero(getDate().getMinutes());
}
function getHour() {
  return padZero(getDate().getHours());
}
module.exports = {
  name: 'Clock',
  props: ['blink', 'displaySeconds', 'moment', 'zone', 'city'],
  data: () => ({
    ticker: null,
    minutes: getMinutes(),
    hours: getHour(),
    seconds: getSeconds(),
  }),
  created() {
    this.ticker = setInterval(() => {
      this.calculateClock();
    }, 1000);
  },
  destroyed() {
    clearInterval(this.ticker);
  },
  methods: {
    calculateClock() {
      const splits = this.moment().tz(this.zone).format('H:m:s').split(':'); // Houston
      this.minutes = splits[1] < 10 ? this.minutes = `0${splits[1]}` : splits[1];
      this.hours = splits[0];
      this.seconds = splits[2] < 10 ? `0${splits[2]}` : splits[2];
    },
  },
};
</script>
