<template>
  <v-card>
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
        label="Buscar"
        single-line
        hide-details
        v-model="search"
        item-key="name"
        select-all
      />
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
      :pagination.sync="pagination"
      :total-items="totalItems"
      :loading="loading"
      class="elevation-1"
      item-key="name"
      select-all
      v-model="selected"
    >

      <template slot="headerCell" slot-scope="props">
        <v-tooltip bottom>
        <span slot="activator" v-on:dblclick="search = props.header.text">
          {{ props.header.text }}
        </span>
          <span v-on:dblclick="search = props.header.text">
          {{ props.header.text }}
        </span>
        </v-tooltip>
      </template>

      <template slot="items" slot-scope="props">
        <td>
          <v-checkbox
            primary
            hide-details
            v-model="props.selected"
          />
        </td>
        <td class="text-xs-left table-row">{{ props.item.holderId }}</td>
        <td class="text-xs-left table-row">{{ props.item.holderName }}</td>
        <td class="text-xs-left table-row">{{ props.item.name }}</td>
        <td class="text-xs-left table-row">{{ props.item.number }}</td>
        <td class="text-xs-left table-row">{{ props.item.balance && props.item.balance.finalBalance  }}</td>
        <td class="text-xs-left table-row">{{ props.item.balance && props.item.balance.retentions  }}</td>
        <td class="text-xs-left table-row">{{ props.item.balance && props.item.balance.availableBalance  }}</td>
        <td class="text-xs-left table-row">{{ 'Corriente' }}</td>
        <td class="text-xs-left table-row">{{ props.item.status }}</td>
        <td class="text-xs-left table-row">{{ '21/02/2018' }}</td>
        <td class="justify-center align-center layout px-0">
          <v-btn small icon class="mx-0 ">
            <v-icon class="blue--text">swap_horiz</v-icon>
          </v-btn>
          <v-btn small icon class="mx-0">
            <v-icon class="blue--text">refresh</v-icon>
          </v-btn>
          <v-btn small icon class="mx-0">
            <v-icon class="blue--text">group</v-icon>
          </v-btn>
          <v-btn small icon class="mx-0">
            <v-icon class="blue--text">edit</v-icon>
          </v-btn>
          <v-menu offset-y>
            <v-btn slot="activator" small icon class="mx-0">
              <v-icon class="red--text">delete</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile>
                <v-list-tile-title class="text-xs-center grey--text text--darken-2">Eliminar ?</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="">
                <v-list-tile-title class="text-xs-center green--text">Si</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
      </template>
    </v-data-table>
  </v-card>
</template>

<style>
  .table-row {
    font-size: 10px !important;
    text-transform: uppercase !important;
    padding: 0 5px !important;
  }
</style>

<script>
  export default {
    data: () => ({
      search: '',
      totalItems: 0,
      items: [],
      loading: true,
      pagination: {},
      selected: [],
      headers: [
        {
          text: 'Rut',
          align: 'center',
          value: 'holderId',
          class: ['white-space-normal'],
        },
        { text: 'Empresa', value: 'holderName', class: ['white-space-normal'], align: 'center' },
        { text: 'Nombre', value: 'name', class: ['white-space-normal'], align: 'center' },
        { text: 'Cuenta', value: 'number', class: ['white-space-normal'], align: 'center' },
        { text: 'Saldo contable', value: 'balance.finalBalance', class: ['white-space-normal'], align: 'center' },
        { text: 'Saldo retenciones', value: 'iron', class: ['white-space-normal'], align: 'center' },
        { text: 'Saldo disponible', value: 'iron', class: ['white-space-normal'], align: 'center' },
        { text: 'Tipo', value: 'iron', class: ['white-space-normal'], align: 'center' },
        { text: 'Estado', value: 'iron', class: ['white-space-normal'], align: 'center' },
        { text: 'Ultima actualizacion', value: 'iron', class: ['white-space-normal'], align: 'center' },
        { text: 'Acciones', value: 'iron', align: 'center', class: ['white-space-normal'] },
      ],
    }),
    watch: {
      pagination: {
        handler() {
          this.getDataFromApi()
            .then((data) => {
              this.items = data.items;
              this.totalItems = data.total;
            });
        },
        deep: true,
      },
    },
    mounted() {
      this.getDataFromApi()
        .then((data) => {
          this.items = data.items;
          this.totalItems = data.total;
        });
    },
    methods: {
      getDataFromApi() {
        this.loading = true;
        return new Promise((resolve) => {
          const { sortBy, descending, page, rowsPerPage } = this.pagination;

          let items = this.getDesserts();
          const total = items.length;

          if (this.pagination.sortBy) {
            items = items.sort((a, b) => {
              const sortA = a[sortBy];
              const sortB = b[sortBy];

              if (descending) {
                if (sortA < sortB) return 1;
                if (sortA > sortB) return -1;
                return 0;
              }
              if (sortA < sortB) return -1;
              if (sortA > sortB) return 1;
              return 0;
            });
          }

          if (rowsPerPage > 0) {
            items = items.slice((page - 1) * rowsPerPage, page * rowsPerPage);
          }

          setTimeout(() => {
            this.loading = false;
            resolve({
              items,
              total,
            });
          }, 1000);
        });
      },
      getDesserts() {
        return [
          {
            id: 189,
            number: '0504-0124-0100013953',
            name: 'INMOBILIARIA LAS ENC INAS DE PENALOLEN S  A',
            type: 'checking',
            status: 'active',
            currency: 'CLP',
            lastScrapedAt: '2018-02-21T22:00:25.000Z',
            createdAt: '2018-02-09T21:45:44.000Z',
            updatedAt: '2018-03-11T16:47:43.000Z',
            issuer: {
              bankAccounts: [],
              documents: [],
              id: 357,
              name: 'INMOBILIARIA LAS ENCINAS DE PENALOLEN S A',
              createdAt: '2017-11-02T03:12:38.000Z',
              updatedAt: '2017-11-02T03:12:38.000Z',
              bank: null,
              documentId: '96.659.030-0',
              bankName: null,
              accountNumber: null,
              amountExpired: 0,
              amountToExpire: 0,
              banksCount: 0,
              totalAmount: 0,
              documentsCount: 0,
              totalCredit: 0,
            },
            bank: { code: '504', name: 'Banco BBVA', logo: 'bbva' },
            credential: {
              id: 89,
              username: '15.732.285-0',
              status: 'processed',
              type: 'business',
              createdAt: '2018-02-09T21:45:43.000Z',
              updatedAt: '2018-03-08T22:48:03.000Z',
              bank: '504',
              businessId: '00011752',
            },
            holderId: '157322850',
            holderName: 'INMOBILIARIA LAS ENC INAS DE PENALOLEN S A',
            balance: {
              id: 2952,
              retentions: 0,
              lastScrapedAt: null,
              account: 189,
              createdAt: '2018-02-09T22:00:45.000Z',
              updatedAt: '2018-02-09T22:00:45.000Z',
              status: 'consolidated',
              periodFrom: '2014-02-05T00:00:00.000Z',
              periodTo: '2014-02-05T00:00:00.000Z',
              lastBalance: 57501014,
              totalDebits: -50000000,
              totalCredits: 0,
              finalBalance: 7501014,
              availableBalance: 7501014,
              statementNumber: 102014,
            },
            acl: 'admin',
            finishedScraping: true,
            nextScrapeAt: '2018-02-21T22:05:25.000Z',
          },
          {
            id: 44,
            number: '70514216',
            name: 'EDIFICIO QUANTUM',
            type: 'checking',
            status: 'active',
            currency: 'CLP',
            lastScrapedAt: '2018-03-08T22:47:24.000Z',
            createdAt: '2017-11-13T16:44:27.000Z',
            updatedAt: '2018-03-11T16:47:57.000Z',
            issuer: {
              bankAccounts: [],
              documents: [],
              id: 179,
              name: 'FERNANDO JORGE BRAVO FAURE',
              createdAt: '2017-11-02T02:21:01.000Z',
              updatedAt: '2018-03-09T04:47:55.000Z',
              bank: null,
              documentId: '9.432.901-9',
              bankName: null,
              accountNumber: null,
              amountExpired: 0,
              amountToExpire: 0,
              banksCount: 0,
              totalAmount: 0,
              documentsCount: 0,
              totalCredit: 0,
            },
            bank: { code: '930', name: 'Banco Bci', logo: 'bci' },
            credential: {
              id: 6,
              username: '9.432.901-9',
              status: 'processed',
              type: 'business',
              createdAt: '2017-11-13T16:44:17.000Z',
              updatedAt: '2018-03-08T22:49:39.000Z',
              bank: '930',
              businessId: null,
            },
            holderId: '11111111',
            holderName: 'Sr. Quantum',
            balance: {
              id: 3636,
              retentions: 51899,
              lastScrapedAt: null,
              account: 44,
              createdAt: '2018-03-08T22:48:02.000Z',
              updatedAt: '2018-03-08T22:49:43.000Z',
              status: 'consolidated',
              periodFrom: '2018-03-05T00:00:00.000Z',
              periodTo: '2018-03-07T00:00:00.000Z',
              lastBalance: 27678990,
              totalDebits: 5078592,
              totalCredits: 1482054,
              finalBalance: 24082452,
              availableBalance: 24030553,
              statementNumber: null,
            },
            acl: 'admin',
            finishedScraping: true,
            nextScrapeAt: '2018-03-08T22:52:24.000Z',
          },
          {
            id: 151,
            number: '00-000-77804-04',
            name: 'CONSTRUCTORA SOCOVESA SANTIAGO S.A.',
            type: 'checking',
            status: 'active',
            currency: 'CLP',
            lastScrapedAt: '2018-02-21T22:00:24.000Z',
            createdAt: '2018-01-11T22:41:26.000Z',
            updatedAt: '2018-03-11T16:48:40.000Z',
            issuer: {
              bankAccounts: [],
              documents: [],
              id: 623,
              name: 'RONY FERNANDO ANDRADE RUIZ',
              createdAt: '2017-12-20T19:23:51.000Z',
              updatedAt: '2017-12-20T19:23:51.000Z',
              bank: null,
              documentId: '15.732.285-0',
              bankName: null,
              accountNumber: null,
              amountExpired: 0,
              amountToExpire: 0,
              banksCount: 0,
              totalAmount: 0,
              documentsCount: 0,
              totalCredit: 0,
            },
            bank: { code: '001', name: 'Banco de Chile', logo: 'de-chile' },
            credential: {
              id: 53,
              username: '15.732.285-0',
              status: 'processed',
              type: 'business',
              createdAt: '2018-01-11T22:41:20.000Z',
              updatedAt: '2018-02-12T16:42:24.000Z',
              bank: '001',
              businessId: '99.558.680-0',
            },
            holderId: null,
            holderName: null,
            balance: {
              id: 2277,
              retentions: 0,
              lastScrapedAt: null,
              account: 151,
              createdAt: '2018-01-26T16:00:28.000Z',
              updatedAt: '2018-01-26T16:00:29.000Z',
              status: 'consolidated',
              periodFrom: '2018-01-02T00:00:00.000Z',
              periodTo: '2018-01-26T00:00:00.000Z',
              lastBalance: 2363098,
              totalDebits: 11310015,
              totalCredits: 15000000,
              finalBalance: 6053083,
              availableBalance: 6053083,
              statementNumber: null,
            },
            acl: 'admin',
            finishedScraping: true,
            nextScrapeAt: '2018-02-21T22:05:24.000Z',
          },
          {
            id: 165,
            number: '0-082-0006967-7',
            name: 'ALMAGRO S A',
            type: 'checking',
            status: 'invalid',
            currency: 'CLP',
            lastScrapedAt: '2018-03-01T10:47:25.000Z',
            createdAt: '2018-01-22T19:40:06.000Z',
            updatedAt: '2018-03-01T16:47:50.000Z',
            issuer: {
              bankAccounts: [],
              documents: [],
              id: 359,
              name: 'ALMAGRO S A',
              createdAt: '2017-11-02T03:12:42.000Z',
              updatedAt: '2017-11-02T03:12:42.000Z',
              bank: null,
              documentId: '88.452.300-1',
              bankName: null,
              accountNumber: null,
              amountExpired: 0,
              amountToExpire: 0,
              banksCount: 0,
              totalAmount: 0,
              documentsCount: 0,
              totalCredit: 0,
            },
            bank: { code: '037', name: 'Banco Santander', logo: 'santander' },
            credential: {
              id: 65,
              username: '17.426.930-0',
              status: 'invalid',
              type: 'business',
              createdAt: '2018-01-22T19:40:06.000Z',
              updatedAt: '2018-03-01T16:47:50.000Z',
              bank: '037',
              businessId: null,
            },
            holderId: '',
            holderName: null,
            balance: {
              id: 3341,
              retentions: 45952000,
              lastScrapedAt: null,
              account: 165,
              createdAt: '2018-03-01T10:49:44.000Z',
              updatedAt: '2018-03-01T10:49:44.000Z',
              status: 'consolidated',
              periodFrom: '2018-02-28T00:00:00.000Z',
              periodTo: '2018-03-01T00:00:00.000Z',
              lastBalance: 116716424,
              totalDebits: 0,
              totalCredits: 0,
              finalBalance: 116716424,
              availableBalance: 70764424,
              statementNumber: null,
            },
            acl: 'admin',
            finishedScraping: true,
            nextScrapeAt: '2018-03-01T10:52:25.000Z',
          },
          {
            balances: [],
            id: 192,
            number: '0-016-5650068-5',
            name: null,
            type: null,
            status: 'invalid',
            currency: 'CLP',
            lastScrapedAt: null,
            createdAt: '2018-03-09T03:07:08.000Z',
            updatedAt: '2018-03-09T03:07:11.000Z',
            bank: { code: '037', name: 'Banco Santander', logo: 'santander' },
            credential: {
              id: 92,
              username: '7.631.834-4',
              status: 'invalid',
              type: 'business',
              createdAt: '2018-03-09T03:07:08.000Z',
              updatedAt: '2018-03-09T03:07:11.000Z',
              bank: '037',
              businessId: '',
            },
            holderId: null,
            holderName: null,
            acl: 'admin',
            finishedScraping: true,
            nextScrapeAt: null,
          },
          {
            id: 164,
            number: '0504-0089-0100017259',
            name: 'ALMAGRO S A',
            type: 'checking',
            status: 'active',
            currency: 'CLP',
            lastScrapedAt: '2018-03-08T22:47:26.000Z',
            createdAt: '2018-01-19T18:02:17.000Z',
            updatedAt: '2018-03-11T16:47:53.000Z',
            issuer: {
              bankAccounts: [],
              documents: [],
              id: 359,
              name: 'ALMAGRO S A',
              createdAt: '2017-11-02T03:12:42.000Z',
              updatedAt: '2017-11-02T03:12:42.000Z',
              bank: null,
              documentId: '88.452.300-1',
              bankName: null,
              accountNumber: null,
              amountExpired: 0,
              amountToExpire: 0,
              banksCount: 0,
              totalAmount: 0,
              documentsCount: 0,
              totalCredit: 0,
            },
            bank: { code: '504', name: 'Banco BBVA', logo: 'bbva' },
            credential: {
              id: 64,
              username: '15.732.285-0',
              status: 'processed',
              type: 'business',
              createdAt: '2018-01-19T18:02:16.000Z',
              updatedAt: '2018-03-08T22:48:01.000Z',
              bank: '504',
              businessId: '00011752',
            },
            holderId: null,
            holderName: null,
            balance: {
              id: 3635,
              retentions: 0,
              lastScrapedAt: null,
              account: 164,
              createdAt: '2018-03-08T22:48:01.000Z',
              updatedAt: '2018-03-08T22:48:03.000Z',
              status: 'consolidated',
              periodFrom: '2018-02-27T00:00:00.000Z',
              periodTo: '2018-03-08T00:00:00.000Z',
              lastBalance: 9128703,
              totalDebits: 197000000,
              totalCredits: 190775113,
              finalBalance: 2903816,
              availableBalance: 2903816,
              statementNumber: null,
            },
            acl: 'admin',
            finishedScraping: true,
            nextScrapeAt: '2018-03-08T22:52:26.000Z',
          },
          {
            id: 183,
            number: '0504-0233-0100009924',
            name: 'SHAREABLE INNOVATIONS SPA',
            type: 'checking',
            status: 'active',
            currency: 'CLP',
            lastScrapedAt: '2018-03-08T22:47:28.000Z',
            createdAt: '2018-02-08T17:36:49.000Z',
            updatedAt: '2018-03-11T16:47:59.000Z',
            issuer: {
              bankAccounts: [],
              documents: [],
              id: 307,
              name: 'SHAREABLE INNOVATIONS SPA',
              createdAt: '2017-11-02T02:25:22.000Z',
              updatedAt: '2018-03-09T04:47:57.000Z',
              bank: null,
              documentId: '76.484.902-7',
              bankName: null,
              accountNumber: '50402330100009924',
              amountExpired: 0,
              amountToExpire: 0,
              banksCount: 0,
              totalAmount: 0,
              documentsCount: 0,
              totalCredit: 0,
            },
            bank: { code: '504', name: 'Banco BBVA', logo: 'bbva' },
            credential: {
              id: 83,
              username: '18.024.306-2',
              status: 'processed',
              type: 'business',
              createdAt: '2018-02-08T17:36:49.000Z',
              updatedAt: '2018-03-08T22:48:10.000Z',
              bank: '504',
              businessId: '00022145',
            },
            holderId: null,
            holderName: null,
            balance: {
              id: 3640,
              retentions: 0,
              lastScrapedAt: null,
              account: 183,
              createdAt: '2018-03-08T22:48:09.000Z',
              updatedAt: '2018-03-08T22:48:13.000Z',
              status: 'consolidated',
              periodFrom: '2018-03-01T00:00:00.000Z',
              periodTo: '2018-03-08T00:00:00.000Z',
              lastBalance: 6647960,
              totalDebits: 1163158,
              totalCredits: 199990,
              finalBalance: 5684792,
              availableBalance: 5684792,
              statementNumber: null,
            },
            acl: 'admin',
            finishedScraping: true,
            nextScrapeAt: '2018-03-08T22:52:28.000Z',
          },
          {
            id: 179,
            number: '31336761',
            name: 'SOLUCIONES TECNOLOGICAS PRIMETEC LIMITADA',
            type: 'checking',
            status: 'active',
            currency: 'CLP',
            lastScrapedAt: '2018-03-08T22:47:28.000Z',
            createdAt: '2018-02-07T22:47:43.000Z',
            updatedAt: '2018-03-11T16:48:01.000Z',
            issuer: {
              bankAccounts: [],
              documents: [],
              id: 179,
              name: 'FERNANDO JORGE BRAVO FAURE',
              createdAt: '2017-11-02T02:21:01.000Z',
              updatedAt: '2018-03-09T04:47:55.000Z',
              bank: null,
              documentId: '9.432.901-9',
              bankName: null,
              accountNumber: null,
              amountExpired: 0,
              amountToExpire: 0,
              banksCount: 0,
              totalAmount: 0,
              documentsCount: 0,
              totalCredit: 0,
            },
            bank: { code: '930', name: 'Banco Bci', logo: 'bci' },
            credential: {
              id: 79,
              username: '9.432.901-9',
              status: 'processed',
              type: 'business',
              createdAt: '2018-02-07T22:47:42.000Z',
              updatedAt: '2018-03-08T22:55:33.000Z',
              bank: '930',
              businessId: null,
            },
            holderId: null,
            holderName: null,
            balance: {
              id: 3534,
              retentions: 427765,
              lastScrapedAt: null,
              account: 179,
              createdAt: '2018-03-06T16:47:53.000Z',
              updatedAt: '2018-03-06T16:52:20.000Z',
              status: 'consolidated',
              periodFrom: '2018-03-05T00:00:00.000Z',
              periodTo: '2018-02-27T00:00:00.000Z',
              lastBalance: 9540446,
              totalDebits: 8850147,
              totalCredits: 938276,
              finalBalance: 1628575,
              availableBalance: 1200810,
              statementNumber: null,
            },
            acl: 'admin',
            finishedScraping: true,
            nextScrapeAt: '2018-03-08T22:52:28.000Z',
          },
        ];
      },
    },
  };
</script>
