<template>
  <div>
    <top-box></top-box>
    <stock-table></stock-table>
  </div>
</template>
<script>
  import TopBox from '../../components/stock/TopBox';
  import StockTable from '../../components/stock/StockTable';

  export default {
    components: { TopBox, StockTable },
  };
</script>
