<template>
  <v-dialog
    v-model="show"
    max-width="590"
    persistent
    scrollable
  >
    <v-card>
      <v-card-title style="justify-content: center;">
        <h1>Actualizar datos</h1>
      </v-card-title>
      <v-card-text class="pl-5 pr-5">
        <v-layout row wrap>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Rut</label>
              <v-text-field
                placeholder="Introduzca rut"
                outline
                single-line
                v-model="row.rut"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Email</label>
              <v-text-field
                placeholder="Introduzca email"
                outline
                single-line
                v-model="row.email"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Nombre</label>
              <v-text-field
                placeholder="Introduzca nombre"
                outline
                single-line
                v-model="row.nombre"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Teléfono fijo</label>
              <v-text-field
                placeholder="Introduzca teléfono fijo"
                outline
                single-line
                v-model="row.tlf_fijo"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Apellido paterno</label>
              <v-text-field
                placeholder="Introduzca apellido paterno"
                outline
                single-line
                v-model="row.apellido_p"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Teléfono celular</label>
              <v-text-field
                placeholder="Introduzca teléfono celular"
                outline
                single-line
                v-model="row.tlf_celular"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Apellido materno</label>
              <v-text-field
                placeholder="Introduzca apellido materno"
                outline
                single-line
                v-model="row.apellido_m"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Dirección</label>
              <v-text-field
                placeholder="Introduzca dirección"
                outline
                single-line
                v-model="row.direccion"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Profesión</label>
              <v-text-field
                placeholder="Introduzca profesión"
                outline
                single-line
                v-model="row.profesion"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>Comuna</label>
              <v-text-field
                placeholder="Introduzca comuna"
                outline
                single-line
                v-model="row.comuna"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pr-1">
            <div class="ex_form-input">
              <label>Generación</label>
              <v-text-field
                placeholder="Introduzca generación"
                outline
                single-line
                v-model="row.generacion"
              ></v-text-field>
            </div>
          </v-flex>
          <v-flex xs12 md6 class="pl-1">
            <div class="ex_form-input">
              <label>¿Eres socia Alma Mater?</label>
              <v-btn-toggle v-model="row.socia">
                <v-btn flat block value="1">
                  Si
                </v-btn>
                <v-btn flat block value="0">
                  No
                </v-btn>
              </v-btn-toggle>
            </div>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions class="pl-5 pr-5">
        <v-btn
          class="ml-2 mb-2"
          color="warning"
          depressed
          @click="onClose"
        >
          Cancelar
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          class="mr-2 mb-2"
          color="success"
          depressed
          @click="updateExAlumnas()"
        >
          Enviar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  import toastr from 'toastr';
  import apiExAlumnas from '../../api/exalumnas';

  export default {
    props: {
      show: Boolean,
      onClose: Function,
      exvmas: Object,
      fetchExvma: Function,
    },
    data() {
      return {
        row: [],
        items: [],
      };
    },
    methods: {
      updateExAlumnas() {
        // console.log(this.row);
        const keys = Object.keys(this.row);
        const formData = new FormData();
        keys.forEach((k) => {
          formData.append(k, (typeof this.row[k] === 'object' ? JSON.stringify(this.row[k]) : this.row[k]));
        });
        apiExAlumnas.update(this.row.id, formData).then(() => {
          this.fetchExvma();
          this.onClose();
          // this.$store.commit('SET_MESSAGE', 'Ex-Alumna actualizada');
          toastr.options.positionClass = 'toast-bottom-center';
          toastr.success('Listo', 'Ex-Alumna Actualizada');
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', err.response.data);
        });
      },
      traeRegiones() {
        apiExAlumnas.regionesall().then((res) => {
          this.items = res.data;
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', err.response.data);
        });
      },
    },
    created() {
      this.traeRegiones();
    },
    watch: {
      show() {
        this.row = this.exvmas;
      },
      onClose() {
        this.row = [];
      },
    },
  };
</script>
