<template>
  <v-dialog
    v-model="show"
    max-width="590"
    persistent
    scrollable
  >
    <v-card>
      <v-card-title style="justify-content: center;">
        <h1>Crear ex-alumna</h1>
      </v-card-title>

      <v-card-text class="pa-0">
        <v-stepper v-model="e1" class="elevation-0">
          <v-stepper-header class="ex_header-steper--student">
            <v-stepper-step :complete="e1 > 1" step="1">Name of step 1</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 2" step="2">Name of step 2</v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content step="1" class="pt-0">
              <v-card class="elevation-0">
                <v-card-text>
                  <v-layout row wrap>
                    <v-flex xs12 md6 class="pr-1">
                      <div class="ex_form-input">
                        <label>Rut</label>
                        <v-text-field
                          placeholder="Introduzca rut"
                          outline
                          single-line
                          :rules="[rules.empty]"
                          v-model="row.rut"
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pl-1">
                      <div class="ex_form-input">
                        <label>Email</label>
                        <v-text-field
                          placeholder="Introduzca email"
                          outline
                          single-line
                          v-model="row.email"
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pr-1">
                      <div class="ex_form-input">
                        <label>Nombre</label>
                        <v-text-field
                          placeholder="Introduzca nombre"
                          outline
                          single-line
                          v-model="row.nombre"
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pl-1">
                      <div class="ex_form-input">
                        <label>Teléfono fijo</label>
                        <v-text-field
                          placeholder="Introduzca teléfono fijo"
                          outline
                          single-line
                          v-model="row.tlf_fijo"
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pr-1">
                      <div class="ex_form-input">
                        <label>Apellido paterno</label>
                        <v-text-field
                          placeholder="Introduzca apellido paterno"
                          outline
                          single-line
                          v-model="row.apellido_p"
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pl-1">
                      <div class="ex_form-input">
                        <label>Teléfono celular</label>
                        <v-text-field
                          placeholder="Introduzca teléfono celular"
                          outline
                          single-line
                          v-model="row.tlf_celular"
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pr-1">
                      <div class="ex_form-input">
                        <label>Apellido materno</label>
                        <v-text-field
                          placeholder="Introduzca apellido materno"
                          outline
                          single-line
                          v-model="row.apellido_m"
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pl-1">
                      <div class="ex_form-input">
                        <label>Profesión</label>
                        <v-text-field
                          placeholder="Introduzca profesión"
                          outline
                          single-line
                          v-model="row.profesion"
                        ></v-text-field>
                      </div>
                    </v-flex>
                  </v-layout>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    color="error"
                    @click="onClose"
                  >
                    Cancelar
                  </v-btn>
                  <v-spacer></v-spacer>
                  <!-- <v-btn color="warning" @click="onClose">Cancel</v-btn> -->
                  <v-btn
                    color="success"
                    @click="e1 = 2"
                    block
                  >
                    Siguiente
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>

            <v-stepper-content step="2" class="pt-0">
              <v-card>
                <v-card-text>
                  <v-layout row wrap>
                    <v-flex xs12 md6>
                      <v-layout row wrap>
                        <v-flex xs6 class="pr-1">
                          <div class="ex_form-input">
                            <label>Pais</label>
                            <v-text-field
                              v-model="row.pais"
                              :value="row.pais"
                              outline
                              single-line
                            ></v-text-field>
                          </div>
                        </v-flex>
                        <v-flex xs6 class="pl-1 pr-1">
                          <div class="ex_form-input">
                            <label>Región</label>
                            <v-select
                              v-model="row.region"
                              :items="items"
                              persistent-hint
                              outline
                            ></v-select>
                          </div>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                    <v-flex xs12 md6 class="pl-1">
                      <div class="ex_form-input">
                        <label>Líder de generación</label>
                        <v-btn-toggle v-model="row.lider_genrn">
                          <v-btn flat block value="si">
                            Si
                          </v-btn>
                          <v-btn flat block value="no">
                            No
                          </v-btn>
                        </v-btn-toggle>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pr-1">
                      <div class="ex_form-input">
                        <label>Dirección</label>
                        <v-text-field
                          placeholder="Dirección"
                          outline
                          single-line
                          v-model="row.direccion"
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pl-1">
                      <div class="ex_form-input">
                        <label>Generación</label>
                        <v-text-field
                          placeholder="Generación"
                          outline
                          single-line
                          v-model="row.generacion"
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pr-1">
                      <div class="ex_form-input">
                        <label>Comuna</label>
                        <v-text-field
                          placeholder="Introduzca comuna"
                          outline
                          single-line
                          v-model="row.comuna"
                        ></v-text-field>
                      </div>
                    </v-flex>
                    <v-flex xs12 md6 class="pl-1">
                      <v-layout row wrap>
                        <v-flex xs4 class="text-xs-center">
                          <div class="ex_form-input">
                            <label>V/M</label>
                            <v-switch class="mt-0" v-model="row.w_m"></v-switch>
                          </div>
                        </v-flex>
                        <v-flex xs4 class="text-xs-center">
                          <div class="ex_form-input">
                            <label>Socia</label>
                            <v-switch class="mt-0" v-model="row.socia"></v-switch>
                          </div>
                        </v-flex>
                        <v-flex xs4 class="text-xs-center">
                          <div class="ex_form-input">
                            <label>Vitalicia</label>
                            <v-switch class="mt-0" v-model="row.vitalicia"></v-switch>
                          </div>
                        </v-flex>
                      </v-layout>
                    </v-flex>
                    <v-flex xs12>
                      <div class="ex_form-input">
                        <label>Observaciones</label>
                        <v-textarea
                          outline
                          name="input-7-4"
                          placeholder="Introduzca observaciones"
                          rows="4"
                          v-model="row.observaciones"
                        ></v-textarea>
                      </div>
                    </v-flex>
                  </v-layout>
                </v-card-text>
                <v-card-actions>
                  <v-btn
                    color="error"
                    @click="onClose"
                  >
                    Cancelar
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn color="warning" @click="e1 = 1">Atrás</v-btn>
                  <v-btn
                    color="success"
                    @click="submitExAlumnas()"
                    block
                  >
                    Grabar
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
  import toastr from 'toastr';
  import apiExAlumnas from '../../api/exalumnas';
  import { rules } from '../../plugins/util';

  export default {
    props: {
      show: Boolean,
      onClose: Function,
      fetchExvma: Function,
    },
    data() {
      return {
        rules,
        dialog: false,
        e1: 0,
        row: [{ pais: '' }],
        exvmas: [],
        // select: { state: 'Florida', abbr: 'FL' },
        items: [],
      };
    },
    methods: {
      submitExAlumnas() {
        const keys = Object.keys(this.row);
        const formData = new FormData();
        keys.forEach((k) => {
          formData.append(k, (typeof this.row[k] === 'object' ? JSON.stringify(this.row[k]) : this.row[k]));
        });
        apiExAlumnas.create(formData).then(() => {
          this.fetchExvma();
          this.onClose();
          this.row = [];
          this.e1 = 1;
          // this.$store.commit('SET_MESSAGE', 'Ex-Alumna creada');
          toastr.options.positionClass = 'toast-bottom-center';
          toastr.success('Listo', 'Ex-Alumna creada');
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', err.response.data);
        });
      },
      traeRegiones() {
        let list = [];
        apiExAlumnas.regionesall().then((res) => {
          const { data } = res;
          list = data.map((c) => {
            return {
              value: `${c.name}`,
              text: `${c.name}`,
            };
          });
          this.items = list;
        });
      },
    },
    created() {
      this.traeRegiones();
      this.row.pais = 'Chile';
    },
  };
</script>
