<template>
  <v-dialog
    v-model="show"
    max-width="590"
    persistent
    scrollable
  >
    <v-card>
      <v-card-title style="justify-content: center;flex-direction: column;">
        <h1>Enviar mail masivo</h1>
        <div>(50 email seleccionados)</div>
      </v-card-title>

      <v-card-text>
        <form action="">
          <v-layout row wrap class="pl-5 pr-5">
            <v-flex xs12 md6 class="pr-1">
              <div class="ex_form-input">
                <label>Asunto</label>
                <v-text-field
                  placeholder="Introduzca nombre de la votación"
                  outline
                  single-line
                ></v-text-field>
              </div>
            </v-flex>
            <v-flex xs12 md6 class="pl-1">
              <div class="ex_form-input">
                <label>Imagen</label>
                <v-text-field
                  placeholder="Subir imagen"
                  outline
                  single-line
                  type="file"
                ></v-text-field>
              </div>
            </v-flex>
            <v-flex xs12>
              <div class="ex_form-input">
                <label>Cuerpo</label>
                <v-textarea
                  outline
                  name="input-7-4"
                  placeholder="Introduzca el cuerpo"
                  rows="7"
                ></v-textarea>
              </div>
            </v-flex>
          </v-layout>
        </form>
      </v-card-text>
      <v-card-actions class="pl-5 pr-5">
        <v-btn
          class="ml-2 mb-2"
          color="warning"
          depressed
          @click="onClose"
        >
          Cancelar
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          class="mr-2 mb-2"
          color="success"
          depressed
          @click="onClose"
        >
          Enviar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    props: {
      show: Boolean,
      onClose: Function,
    },
    data() {
      return {
        dialog: false,
      };
    },
  };
</script>
