<template>
  <div>
    <v-card>
      <v-card-title style="display: flex;align-items: center;">
        <h2>Ex-alumnas</h2>
        <v-spacer></v-spacer>
        <v-btn-toggle v-model="type" class="ex_btn-group--students">
          <v-btn flat value="act">
            Activa
          </v-btn>
          <v-btn flat value="ina">
            Inactiva
          </v-btn>
          <v-btn flat value="pre">
            Preliminar
          </v-btn>
        </v-btn-toggle>
        <v-spacer></v-spacer>
        <v-text-field
          class="ex_search--student"
          single-line
          placeholder="Buscar..."
          v-model="search"
          item-key="name"
          select-all
          outline
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="warning" depressed>Importar</v-btn>
        <v-btn color="info" depressed>Exportar</v-btn>
      </v-card-title>
      <v-card-text>
        <v-data-table
          v-model="selected"
          :headers="headers"
          :items="exvmas"
          select-all
          item-key="name"
          :pagination.sync="pagination"
          :total-items="totalItems"
          :loading="loading"
          :rows-per-page-items="[10, 15, 25, {text: 'All', value: -1}]"
          class="elevation-0"
        >
          <template slot="headerCell" slot-scope="props">
          <v-tooltip bottom>
          <span slot="activator" v-on:dblclick="search = props.header.text">
            {{ props.header.text }}
          </span>
            <span v-on:dblclick="search = props.header.text">
            {{ props.header.text }}
          </span>
          </v-tooltip>
        </template>
          <template slot="headers" slot-scope="props">
            <tr>
              <!-- <th>
                <v-checkbox
                  :input-value="props.all"
                  :indeterminate="props.indeterminate"
                  primary
                  hide-details
                  @click.native="toggleAll"
                ></v-checkbox>
              </th> -->
              <th v-for="header in props.headers"
                  :key="header.text">
                {{ header.text }}
              </th>
            </tr>
          </template>
          <template slot="items" slot-scope="props">
            <tr :active="props.selected" @click="props.selected = !props.selected">
              <!-- <td>
                <v-checkbox
                  :input-value="props.selected"
                  primary
                  hide-details
                ></v-checkbox>
              </td> -->
              <!-- <td class="text-xs-center">{{ props.item.year }}</td> -->
              <td class="text-xs-left">{{ props.item.rut }}</td>
              <td class="text-xs-left">{{ props.item.nombre }}</td>
              <td class="text-xs-left">{{ props.item.apellido_p }}</td>
              <td class="text-xs-left">{{ props.item.apellido_m }}</td>
              <td class="text-xs-left">{{ props.item.email }}</td>
              <td class="text-xs-left">{{ props.item.tlf_celular }}</td>
              <td class="text-xs-center">
               <!-- <v-flex xs12 md6 class="pl-1">
                      <v-layout row wrap>
                        <v-flex xs4 class="text-xs-center">
                          <div class="ex_form-input">
                            <label>V/M</label>
                            <v-switch class="mt-0" v-model="props.item.v_m"></v-switch>
                          </div>
                        </v-flex>
                        <v-flex xs4 class="text-xs-center">
                          <div class="ex_form-input">
                            <label>Socia</label>
                            <v-switch class="mt-0" v-model="props.item.socia"></v-switch>
                          </div>
                        </v-flex>
                        <v-flex xs4 class="text-xs-center">
                          <div class="ex_form-input">
                            <label>Vitalicia</label>
                            <v-switch class="mt-0" v-model="props.item.vitalicia"></v-switch>
                          </div>
                        </v-flex>
                      </v-layout>
                    </v-flex> -->
               <!-- <span v-if="props.item.v_m">V/M </span> -->
               <!-- <span v-if="props.item.socia">SOCIA </span> -->
               <!-- <span v-if="props.item.vitalicia">VITALICIA</span> -->
               <TABLE>
                  <TR>
                    <TH>V/M</TH>
                    <TH>SOCIA</TH>
                    <TH>VITALICIA</TH>
                  </TR>
                  <TR> <!-- ROW 1, TABLE 2 -->
                    <td><v-switch class="mt-0" @change="changeVM(props.item.id)" v-model="props.item.w_m"></v-switch></td>
                    <td><v-switch class="mt-0" @change="changeSOCIA(props.item.id)" v-model="props.item.socia"></v-switch></td>
                    <td><v-switch class="mt-0" @change="changeVITALICIA(props.item.id)" v-model="props.item.vitalicia"></v-switch></td>
                  </TR>
                </TABLE>
              </td>
              <!-- <td class="text-xs-center">
                <div class="ex_status-circle--students"
                     :class="{
                        'done': props.item.status === 0,
                        'warning': props.item.status === 1,
                        'danger': props.item.status === 2
                     }"></div>
              </td>
              <td class="text-xs-center">{{ props.item.update }}</td> -->
              <td class="text-xs-center">
                <v-btn icon small>
                  <v-icon color="info" @click="openInfo(props.item)">edit</v-icon>
                </v-btn>
                <v-btn icon small>
                  <v-icon color="error" @click="deleteExvma(props.item.id)">highlight_off</v-icon>
                </v-btn>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <modal-info :show="modalInfo" :onClose="onCloseInfo" :exvmas="exvma" :fetchExvma="traeExvma"></modal-info>
  </div>
</template>
<script>
  import toastr from 'toastr';
  import ExAlumna from '../../models/ExAlumna';
  import ModalInfo from './ModalInfo';
  import apiExAlumnas from '../../api/exalumnas';

  export default {
    props: {
      exvmas: Array,
      search: String,
      totalItems: Number,
      pagination: Object,
      selected: Array,
      loading: Boolean,
      traeExvma: Function,
    },
    components: { ModalInfo },
    data() {
      return {
        row: [],
        exvma: new ExAlumna(),
        selected: [],
        type: 'act',
        headers: [
          // {
          //   text: 'Año',
          //   value: 'year',
          //   align: 'center',
          //   sortable: false,
          // },
          {
            text: 'Rut',
            value: 'rut',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Nombre',
            value: 'name',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Apellido paterno',
            value: 'lastname',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Apellido materno',
            value: 'lastname2',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Email',
            value: 'email',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Teléfono',
            value: 'phone',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Calidad de socio',
            value: 'partner',
            align: 'center',
            sortable: false,
          },
          // {
          //   text: 'Estado',
          //   value: 'status',
          //   align: 'center',
          //   sortable: false,
          // },
          // {
          //   text: 'Última actualización',
          //   value: 'update',
          //   align: 'center',
          //   sortable: false,
          // },
          {
            text: 'Acciones',
            value: 'action',
            align: 'center',
            sortable: false,
          },
        ],
        data: [
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 0,
            update: '12/04/18 1:23pm',
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 0,
            update: '12/04/18 1:23pm',
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 1,
            update: '12/04/18 1:23pm',
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 0,
            update: '12/04/18 1:23pm',
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 2,
            update: '12/04/18 1:23pm',
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 0,
            update: '12/04/18 1:23pm',
          },
          {
            year: '1498',
            rut: '18.024.036-2',
            name: 'Manuela',
            lastname: 'Lopez',
            lastname2: 'Vegas',
            email: 'm.l.v@gmail.com',
            phone: '+569 90505908',
            partner: 'Socia',
            status: 0,
            update: '12/04/18 1:23pm',
          },
        ],
        modalInfo: false,
      };
    },
    methods: {
      toggleAll() {
        if (this.selected.length) this.selected = [];
        else this.selected = this.data.slice();
      },
      changeVM(vm) {
        apiExAlumnas.changevm(vm).then((response) => {
          toastr.options.positionClass = 'toast-bottom-center';
          toastr.success('Listo', 'vm actualizada');
          console.log(response);
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', err.response.data);
        });
      },
      changeSOCIA(socia) {
        apiExAlumnas.changesocia(socia).then((response) => {
          toastr.options.positionClass = 'toast-bottom-center';
          toastr.success('Listo', 'socia actualizada');
          console.log(response);
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', err.response.data);
        });
      },
      changeVITALICIA(vitalicia) {
        apiExAlumnas.changevitalicia(vitalicia).then((response) => {
          toastr.options.positionClass = 'toast-bottom-center';
          toastr.success('Listo', 'vitalicia actualizada');
          console.log(response);
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', err.response.data);
        });
      },
      openInfo(row) {
        this.exvma = row;
        this.modalInfo = true;
      },
      onCloseInfo() {
        this.exvma = new ExAlumna();
        this.modalInfo = false;
      },
      deleteExvma(id) {
        const formData = new FormData();
        formData.append('action', 'delete');
        apiExAlumnas.update(id, formData).then(() => {
          this.traeExvma();
          //this.$store.commit('SET_MESSAGE', 'Ex-Alumna eliminada');
          toastr.options.positionClass = 'toast-bottom-center';
          toastr.success('Listo', 'Ex-Alumna Eliminada');
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', err.response.data);
        });
      },
      fetch() {
        const { page, rowsPerPage, sortBy, descending } = this.pagination;
        this.loading = true;
        apiExAlumnas.fetch({
          page,
          rowsPerPage,
          sortBy,
          descending: descending ? 'desc' : 'asc',
          search: this.search,
        }).then((res) => {
          const { data, total } = res.data.exalumnas;
          this.exvmas = data;
          this.totalItems = total;
          this.loading = false;
          // const scs = this.exvmas.filter(sc => sc.socia === 1);
          this.socias = res.data.socias;
        });
      },
    },
    watch: {
      pagination: {
        handler() {
          this.fetch();
        },
        deep: true,
      },
      search() {
        this.fetch();
      },
    },
  };
</script>
