<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 md3 class="pl-0 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;justify-content: space-around;">
            <div>
              <div class="ex_number--box text--primary">{{ this.totalItems }}</div>
              <div class="ex_subtitle--box text--primary">Ex-Alumnas</div>
            </div>
            <div>
              <v-icon class="ex_middle-icon--box" color="blue lighten-3">expand_less</v-icon>
            </div>
            <div>
              <v-icon class="ex_last-icon--box" color="blue lighten-1">equalizer</v-icon>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;justify-content: space-around;">
            <div>
              <div class="ex_number--box">{{ socias }}</div>
              <div class="ex_subtitle--box">Socias</div>
            </div>
            <div>
              <v-icon class="ex_middle-icon--box" color="blue lighten-3">expand_less</v-icon>
            </div>
            <div>
              <v-icon class="ex_last-icon--box" color="blue lighten-1">equalizer</v-icon>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;" class="pt-3 pb-3">
            <v-btn
              @click="openMail"
              block
              color="info"
              depressed
              class="white--text">
              <v-icon left dark>add_box</v-icon>
              Enviar mail masivo
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-0 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;">
            <v-btn
              @click="openStudent"
              block
              depressed
              color="success"
              class="white--text">
              <v-icon left dark>add_box</v-icon>
              Crear ex-alumna
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <modal-mail :show="modalMail" :onClose="closeModalMail"></modal-mail>
    <modal-student :show="modalStudent" :onClose="closeModalStudent" :fetchExvma="fetchExvma"></modal-student>
  </div>
</template>
<script>
  import ModalMail from './ModalMail';
  import ModalStudent from './ModalStudent';

  export default {
    props: {
      traeExvma: Function,
      exvmas: Object,
      socias: Number,
      totalItems: Number,
    },
    components: { ModalMail, ModalStudent },
    data() {
      return {
        modalMail: false,
        modalStudent: false,
      };
    },
    methods: {
      openMail() {
        this.modalMail = true;
      },
      openStudent() {
        this.modalStudent = true;
      },
      closeModalMail() {
        this.modalMail = false;
      },
      closeModalStudent() {
        this.modalStudent = false;
      },
      fetchExvma() {
        // console.log('ok');
        this.traeExvma();
      },
    },
  };
</script>
