<template>
  <router-view/>
</template>

<script>
  import axios from 'axios';
  import auth from './store/auth';

  export default {
    methods: {
      // Method for get Window Size
      getWindowSize() {
        this.$store.commit('WINDOW_SIZE', { width: document.documentElement.clientWidth, height: document.documentElement.clientHeight });
      },
      setUser(user) {
        this.$store.dispatch('setCurrentUser', user);
      },
    },
    created() {
      this.setUser(auth.getLocalUser());
      this.getWindowSize();
      // Add response interceptor
      axios.interceptors.response.use((res) => {
        if (res.headers.Authorization) this.$store.commit('REFRESH_AUTHORIZATION_TOKEN', res.headers.Authorization);
        return res;
      }, (err) => {
        if (err.response.status === 401) {
          this.$store.commit('SET_CURRENT_USER', {});
          this.$router.push({
            path: '/auth/login',
            query: { redirect: this.$router.path },
          });
        }
        return Promise.reject(err);
      });
    },
    mounted() {
      this.$nextTick(() => {
        window.addEventListener('resize', this.getWindowSize);
        this.getWindowSize();
      });
    },
    beforeDestroy() {
      // Remove resize event on destroy component
      window.removeEventListener('resize', this.getWindowSize);
    },
    watch: {
      '$store.state.auth.isAuth': function () {
        if (!this.$store.state.auth.isAuth) this.$router.push({ path: '/auth/login', params: { redirect: this.$router.path } });
      },
    },
  };
</script>
