<template>
  <v-app>
    <LeftDrawer :clipped="clipped" :drawer="drawer" :fixed="fixed" :miniVariant="miniVariant"  @drawer="val => { drawer = val}"/>
    <AppBar :clipped="clipped" :drawer="drawer" :drawer2="drawer2" :fixed="fixed" :miniVariant="miniVariant" @clipped="val => {clipped = val}"
            @drawer="val => { drawer = val}" @drawer2="val => { drawer2 = val}" @fixed="val => {fixed = val}" @miniVariant="val => { miniVariant = val }"
            :notifications="notifications" :readNotification="readNotification" :removeNotification="removeNotification"/>
    <v-content class="content-main">
      <v-container fluid container-grey>
        <v-fade-transition mode="out-in">
          <router-view/>
        </v-fade-transition>
      </v-container>
      <!--<ToolBarItems class="hidden-md-and-up"/>-->
    </v-content>
    <v-snackbar  v-model="isMessage" :error="$store.state.message.type === 'error'" :success="$store.state.message.type === 'success'" :info="$store.state.message.type === 'info'">
      {{this.$store.state.message.msg}}
      <v-btn flat class="white--text" @click.native="isMessage = false">Close</v-btn>
    </v-snackbar>
    <!--<RightDrawer :drawer2="drawer2" @drawer2="val => { drawer2 = val}"/>-->
  </v-app>
</template>

<script>
  import AppBar from '../components/shared/AppBar';
  // import ToolBarItems from '../components/shared/ToolBarItems';
  import LeftDrawer from '../components/shared/LeftDrawer';
  // import RightDrawer from '../components/message/RightDrawer';
  // import notifications from '../store/notifications';

  export default {
    // components: { AppBar, RightDrawer, LeftDrawer, ToolBarItems },
    components: { AppBar, LeftDrawer },
    data() {
      return {
        loading: this.$store.state.isLoading,
        clipped: !this.$store.state.less600 ? this.$store.state.less600 : !this.$store.state.less600,
        drawer: !this.$store.state.less600,
        fixed: true,
        miniVariant: false,
        isMessage: false,
        usersChat: [],
        drawer2: false,
        notifications: [],
      };
    },
    methods: {
      fetchNotifications() {
        this.$store.dispatch('fetchUserNotifications', { user: this.$store.state.auth.user.data, push: true });
      },
      readNotification(not) {
        not.read = true;
        this.$store.dispatch('readNotification', { not, userId: this.$store.state.auth.user.data.id }).then(() => {
          this.$store.dispatch('fetchUserNotifications', { user: this.$store.state.auth.user.data, push: false });
        });
      },
      removeNotification(not) {
        this.$store.dispatch('removeNotification', { not, userId: this.$store.state.auth.user.data.id }).then(() => {
          this.$store.dispatch('fetchUserNotifications', { user: this.$store.state.auth.user.data, push: false });
        });
      },
    },
    watch: {
      // Monitorear cambios en el tamaÃ±o de la pantalla
      '$store.state.windowWidth': function () {
        this.clipped = !this.$store.state.less600 ?
        this.$store.state.less600 : !this.$store.state.less600;
        this.drawer = !this.drawer ? false : !this.$store.state.less600;
      },
      '$store.state.isMessage': function () {
        this.isMessage = this.$store.state.isMessage;
      },
      isMessage() {
        if (!this.isMessage) this.$store.commit('SET_MESSAGE', {});
      },
      '$store.state.notifications.items': function () {
        this.notifications = this.$store.state.notifications.items;
      },
    },
    mounted() {
      // notifications.fetchNotifications(this.$store.state.auth.user.data);
      // notifications.on('notification-value', this.fetchNotifications);
    },
  };
</script>
