<template>
  <v-dialog
    v-model="show"
    max-width="1000"
    persistent
    scrollable
  >
    <v-card>
      <v-card-title style="justify-content: center;">
        <h1>Comprobante</h1>
      </v-card-title>

      <v-card-text class="pl-3 pr-3">
        <v-layout row wrap>
          <v-flex xs12 md12>
            <v-layout row wrap>
              <v-flex xs3 class="pr-1">
                <div class="ex_form-input">
                  <label>ID pago</label>
                  <v-text-field
                    placeholder="3321123"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
              <v-flex xs3 class="pr-1 pl-1">
                <div class="ex_form-input">
                  <label>Periocidad</label>
                  <v-btn-toggle v-model="text">
                    <v-btn flat block value="ing">
                      Ingreso
                    </v-btn>
                    <v-btn flat block value="egr">
                      Egreso
                    </v-btn>
                    <v-btn flat block value="tra">
                      Traspaso
                    </v-btn>
                  </v-btn-toggle>
                </div>
              </v-flex>
              <v-flex xs3 class="pr-1 pl-1">
                <div class="ex_form-input">
                  <label>Fecha de pago</label>
                  <v-text-field
                    placeholder="dd/mm/aa"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
              <v-flex xs3 class="pl-1">
                <div class="ex_form-input">
                  <label>Cuenta de destino</label>
                  <v-text-field
                    placeholder="Seleccione la cuenta"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 md12>
            <v-layout row wrap>
              <v-flex xs7 class="pr-1">
                <div class="ex_form-input">
                  <label>Referencia</label>
                  <v-text-field
                    placeholder="3321123"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
              <v-flex xs3 class="pr-1 pl-1">
                <div class="ex_form-input">
                  <label>Método de pago</label>
                  <v-text-field
                    placeholder="Seleccione el método de pago"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
              <v-flex xs2 class="pl-1">
                <div class="ex_form-input">
                  <label>Valor</label>
                  <v-text-field
                    placeholder="Introduzca valor"
                    outline
                    single-line
                  ></v-text-field>
                </div>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 md12>
            <v-data-table
              :headers="headers"
              :items="data"
              hide-actions
              item-key="name"
              class="elevation-0"
            >
              <template slot="items" slot-scope="props">
                <tr>
                  <td class="text-xs-center">{{ props.item.id }}</td>
                  <td class="text-xs-left">{{ props.item.rut }}</td>
                  <td class="text-xs-left">{{ props.item.name }}</td>
                  <td class="text-xs-left">{{ props.item.lastname }}</td>
                  <td class="text-xs-left">{{ props.item.lastname2 }}</td>
                  <td class="text-xs-center">{{ props.item.period }}</td>
                  <td class="text-xs-right">{{ props.item.value }}</td>
                  <td class="text-xs-right">{{ props.item.valuepayment }}</td>
                </tr>
              </template>
              <template slot="footer">
                <td class="text-xs-right" colspan="100%">
                  <b>3,000</b>
                </td>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions class="pl-3 pr-3 pb-3">
        <v-btn
          color="error"
          @click="onClose"
        >
          Eliminar
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="warning"
               block
               @click="onClose">Cancel</v-btn>
        <v-btn
          color="success"
          @click="onClose"
          block
        >
          Grabar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
  export default {
    props: {
      show: Boolean,
      onClose: Function,
    },
    data() {
      return {
        text: 'ing',
        headers: [
          {
            text: 'ID',
            value: 'id',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Rut',
            value: 'rut',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Nombre',
            value: 'name',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Apellido paterno',
            value: 'lastname',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Apellido materno',
            value: 'lastname2',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Período',
            value: 'period',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Valor',
            value: 'value',
            align: 'center',
            sortable: false,
          },
          {
            text: 'Valor pagado',
            value: 'valuePayment',
            align: 'center',
            sortable: false,
          },
        ],
        data: [
          {
            id: 0,
            rut: '18.024.306-2',
            name: 'María',
            lastname: 'Gutierrez',
            lastname2: 'Vega',
            period: 'MM/AAAA',
            value: '1,000',
            valuepayment: '1,000',
          },
          {
            id: 1,
            rut: '18.024.306-2',
            name: 'María',
            lastname: 'Gutierrez',
            lastname2: 'Vega',
            period: 'MM/AAAA',
            value: '1,000',
            valuepayment: '1,000',
          },
          {
            id: 2,
            rut: '18.024.306-2',
            name: 'María',
            lastname: 'Gutierrez',
            lastname2: 'Vega',
            period: 'MM/AAAA',
            value: '1,000',
            valuepayment: '1,000',
          },
        ],
      };
    },
  };
</script>
