<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 md2 class="pl-0 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;justify-content: space-around;">
            <div>
              <div class="ex_number--box blue--text">$1,951,577</div>
              <div class="ex_subtitle--box blue--text">Pendientes</div>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md2 class="pl-1 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;justify-content: space-around;">
            <div>
              <div class="ex_number--box red--text">$1,951,577</div>
              <div class="ex_subtitle--box red--text">Vencidos</div>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;" class="pt-3 pb-3">
            <v-btn
              @click="openMail"
              block
              color="info"
              depressed
              class="white--text">
              <v-icon left dark>add_box</v-icon>
              Enviar email masivo
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md3 class="pl-1 pr-1 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;" class="pt-3 pb-3">
            <v-btn
              @click="openCollect"
              block
              color="warning"
              depressed
              class="white--text">
              <v-icon left dark>add_box</v-icon>
              Agregar cobro
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 md2 class="pl-1 pr-0 mb-2">
        <v-card class="ex_box--top">
          <v-card-text style="display: flex;align-items: center;">
            <v-btn
              @click="openPayment"
              block
              depressed
              color="success"
              class="white--text">
              <v-icon left dark>add_box</v-icon>
              Agregar pago
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <modal-payment :show="modalPayment" :onClose="closePayment"></modal-payment>
  </div>
</template>
<script>
  import ModalPayment from '../../components/collection/ModalPayment';

  export default {
    components: { ModalPayment },
    data() {
      return {
        modalPayment: false,
      };
    },
    methods: {
      openPayment() {
        this.modalPayment = true;
      },
      closePayment() {
        this.modalPayment = false;
      },
    },
  };
</script>
