<template>
  <div>
    <top-box :traeUser="traeUser"></top-box>
    <users-table :users="users" :traeUser="traeUser"></users-table>
  </div>
</template>
<script>
  import apiUser from '../../api/user';
  import TopBox from '../../components/user/TopBox';
  import UsersTable from '../../components/user/UsersTable';

  export default {
    components: { TopBox, UsersTable },
    data() {
      return {
        users: [],
      };
    },
    methods: {
      traeUser() {
        apiUser.fetch().then((res) => {
          this.users = res.data;
        }).catch((err) => {
          this.$store.commit('SET_MESSAGE', err.response.data);
        });
      },
    },
    created() {
      this.traeUser();
    },
  };
</script>
